<div class="row gap-y align-items-center">
    <div class="col-md-6 text-center mb-3 mt-3">
        <img class="img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/vector/13.png" alt="...">
    </div>

    <div class="col-md-6 text-center text-md-left">
        <h2>Do you need some help?</h2>
        <p class="lead mb-5">Visit our support center to get start</p>
        <p><a class="btn btn-lg btn-round btn-info small-2 text-white text-uppercase ls-15 pr-4 pl-4" href="#">Go to help center</a></p>
    </div>
</div>
