<section class="section bg-img pb-5 pt-5" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/1.jpg')" data-overlay="8">
    <div class="container">
        <div class="row gap-y">
            <div class="col-12 col-md-8 mx-auto text-center text-white pt-6">
                <h5 class="lead-5 text-white mb-5 fw-200"><strong>Start</strong> the supporting system that you always dreamed about</h5>
                <p><a class="btn btn-xl btn-round btn-success w-300 small-2 text-white text-uppercase ls-15 pr-4 pl-4" href="#">Login with Envato</a></p>
            </div>
        </div>
    </div>
</section>