<section class="section p-4">
    <div class="container">
        <header class="section-header">
        <small>Pricing</small>
        <h2>Choose your perfect plan</h2>
        <hr>
        <p class="lead">Won't said night above you're she'd behold moveth said one fowl. Beast forth. Man creepeth. She'd above bring blessed.</p>
        </header>

        <div class="row gap-y text-center">

        <div class="col-md-4 mb-3">
            <div class="pricing-1">
            <p class="plan-name">Single</p>
            <br>
            <h2 class="price">free</h2>
            <p class="small">&nbsp;</p>

            <div class="text-muted">
                <small>30 days free trial</small><br>
                <small>Basic support</small><br>
                <small>1 GB attachment</small><br>
            </div>

            <br>
            <p class="text-center py-3">
                <a class="btn btn-primary small-2 pr-4 pl-4 ls-15 " href="#">Get started</a>
            </p>
            </div>
        </div>


        <div class="col-md-4 mb-3">
            <div class="pricing-1 popular">
            <p class="plan-name">Studio</p>
            <br>
            <h2 class="price text-success">
                <span class="price-unit">$</span>
                <span data-bind-radio="pricing-1" data-monthly="39" data-yearly="450">39</span>
            </h2>
            <p class="small text-lighter">
                Billed
                <span data-bind-radio="pricing-1" data-monthly="monthly" data-yearly="yearly">monthly</span>
            </p>

            <div class="text-muted">
                <small>30 days free trial</small><br>
                <small>Ticket support</small><br>
                <small>100 GB attachment</small><br>
            </div>

            <br>
            <p class="text-center py-3">
                <a class="btn btn-success small-2 pr-4 pl-4 ls-15 " href="#" data-bind-href="pricing-1" data-monthly="#monthly" data-yearly="#yearly">Get started</a>
            </p>
            </div>
        </div>


        <div class="col-md-4 mb-3">
            <div class="pricing-1">
            <p class="plan-name">Business</p>
            <br>
            <h2 class="price">
                <span class="price-unit">$</span>
                <span data-bind-radio="pricing-1" data-monthly="69" data-yearly="750">69</span>
            </h2>
            <p class="small text-lighter">
                Billed
                <span data-bind-radio="pricing-1" data-monthly="monthly" data-yearly="yearly">monthly</span>
            </p>

            <div class="text-muted">
                <small>30 days free trial</small><br>
                <small>Call support</small><br>
                <small>Unlimited attachments</small><br>
            </div>

            <br>
            <p class="text-center py-3">
                <a class="btn btn-primary small-2 pr-4 pl-4 ls-15 " href="#" data-bind-href="pricing-1" data-monthly="#monthly" data-yearly="#yearly">Get started</a>
            </p>
            </div>
        </div>

        </div>


    </div>
</section>