<section class="section bg-gray">
    <div class="container p-5">
        <div class="row align-items-center">

        <div class="col-md-6 mb-3">
            <p class="text-uppercase text-lighter fw-400 ls-2">Pricing plans</p>
            <h2 class="fw-200 mb-6">Choose your pricing plan,<br>No hidden fees!</h2>
            <p>We have a single plan which you can choose to pay monthly or yearly. You can always cancel your subscription anytime from your account.</p>

            <div class="btn-group btn-group-toggle mt-7" data-toggle="buttons">
            <label class="btn btn-round btn-outline-dark w-150 small-2 pr-4 pl-4 ls-15 active">
                <input type="radio" name="pricing-5" value="monthly" autocomplete="off" checked> Monthly
            </label>
            <label class="btn btn-round btn-outline-dark w-150 small-2 pr-4 pl-4 ls-15">
                <input type="radio" name="pricing-5" value="yearly" autocomplete="off"> Yearly
            </label>
            </div>
        </div>


        <div class="col-md-4 mx-auto mt-7 mt-md-0">
            <div class="card card-body text-center shadow-2 hover-shadow-8 py-6">
            <p class="lead text-dark text-uppercase fw-600 ls-1 mb-0">Starter</p>
            <p class="text-lighter"><span data-bind-radio="pricing-5" data-monthly="Monthly" data-yearly="Yearly">Monthly</span> Package</p>
            <p class="lead-7 fw-600 text-dark"><span data-bind-radio="pricing-5" data-monthly="$6." data-yearly="$64.">$6.</span><span class="lead-4 align-text-top">99</span></p>
            <p>
                Single Website<br>
                60GB Bandwidth<br>
                Manual Import<br>
                No Support<br>
            </p>
            <br>
            <div>
                <a class="btn btn-round btn-outline-secondary w-200 small-2 pr-4 pl-4 ls-15" href="#" data-bind-href="pricing-5" data-monthly="#monthly" data-yearly="#yearly">Sign up</a>
            </div>
            </div>
        </div>

        </div>
    </div>
</section>
