<section class="section text-white p-4" style="background-color: #7a54d8">
    <div class="container p-5">
        <h2 class="text-center">Choose your pricing plan</h2>
        <br><br><br>

        <div class="row gap-y">

        <div class="col-lg-4 mb-3">
            <div class="pricing-2">
            <h2 class="price"><span class="price-unit">$</span> 29</h2>
            <h6 class="plan-name">Single template</h6>
            <p class="plan-description">Single template, lifetime license</p>
            <br>
            <a class="btn btn-round btn-outline-light w-200 small-2 pr-4 pl-4 ls-15" href="#">Select an album</a>
            </div>
        </div>


        <div class="col-lg-4 mb-3">
            <div class="pricing-2">
            <h2 class="price"><span class="price-unit">$</span> 99</h2>
            <h6 class="plan-name">One year membership</h6>
            <p class="plan-description">Get access to all templates</p>
            <br>
            <a class="btn btn-round btn-light w-200 small-2 pr-4 pl-4 ls-15" href="#">Sign up</a>
            </div>
        </div>


        <div class="col-lg-4 mb-3">
            <div class="pricing-2">
            <h2 class="price"><span class="price-unit">$</span> 199</h2>
            <h6 class="plan-name">Lifetime access</h6>
            <p class="plan-description">Pay once, have fun forever</p>
            <br>
            <a class="btn btn-round btn-outline-light w-200 small-2 pr-4 pl-4 ls-15" href="#">Sign up</a>
            </div>
        </div>

        </div>

    </div>
</section>