<div class="card with-nav-tabs panel-default">
                
    <div class="panel-body p-4">
            <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1default">Tab 1 - Home</div>
                    <div class="tab-pane fade" id="tab2default">Tab 2 - Profile</div>
                    <div class="tab-pane fade" id="tab3default">Tab 3 - Contact</div>
            </div>
    </div>
    <div class="panel-heading">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1default">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2default">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab3default">Contact</a>
                </li>
            </ul>
        
    </div>
</div>