<section class="section text-white bg-dark bg-img pt-5 pb-5" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/13.jpg')" data-overlay="9">
    <div class="container position-relative">
      <header class="section-header">
        <h2 class="fw-600">Best Team Ever</h2>
        <hr>
        <p class="lead">Meet our small team that make those great products.</p>
      </header>


      <div class="row gap-y">


        <div class="col-md-6 mb-3">
          <div class="card bg-img h-200" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/9.jpg');" data-overlay="3">
            <div class="row h-100 pl-3 pr-3 pb-3 pt-3 text-right">
              <div class="col-12">
                <h5>John Senating</h5>
                <p class="text-uppercase small-3 ls-2 fw-500">Co-Founder & CEO</p>
              </div>

              <div class="col-12 align-self-end">
                <div class="social social-inline social-sm social-light">
                  <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 mb-3">
          <div class="card bg-img h-200" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/10.jpg');" data-overlay="3">
            <div class="row h-100 pl-3 pr-3 pb-3 pt-3 ">
              <div class="col-12">
                <h5>Morgan Guadis</h5>
                <p class="text-uppercase small-3 ls-2 fw-500">CoFounder & CTO</p>
              </div>

              <div class="col-12 align-self-end">
                <div class="social social-inline social-sm social-light">
                  <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 mb-3">
          <div class="media border border-glass rounded p-4">
            <a class="align-self-center mr-4" href="#">
              <img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="...">
            </a>

            <div class="media-body">
              <h6 class="mb-1">Sandi Hormez</h6>
              <p class="small-5 text-uppercase fw-400 ls-2 opacity-50 mb-2">Lead Developer</p>
              <div class="social social-sm social-light social-inline">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4 mb-3">
          <div class="media border border-glass rounded p-4">
            <a class="align-self-center mr-4" href="#">
              <img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/2.jpg" alt="...">
            </a>

            <div class="media-body">
              <h6 class="mb-1">Animor Tiruse</h6>
              <p class="small-5 text-uppercase fw-400 ls-2 opacity-50 mb-2">Lead Designer</p>
              <div class="social social-sm social-light social-inline">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4 mb-3">
          <div class="media border border-glass rounded p-4">
            <a class="align-self-center mr-4" href="#">
              <img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/3.jpg" alt="...">
            </a>

            <div class="media-body">
              <h6 class="mb-1">Sarah Onex</h6>
              <p class="small-5 text-uppercase fw-400 ls-2 opacity-50 mb-2">Designer</p>
              <div class="social social-sm social-light social-inline">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4 mb-3">
          <div class="media border border-glass rounded p-4">
            <a class="align-self-center mr-4" href="#">
              <img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/4.jpg" alt="...">
            </a>

            <div class="media-body">
              <h6 class="mb-1">Angelo Haynes</h6>
              <p class="small-5 text-uppercase fw-400 ls-2 opacity-50 mb-2">Designer</p>
              <div class="social social-sm social-light social-inline">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4 mb-3">
          <div class="media border border-glass rounded p-4">
            <a class="align-self-center mr-4" href="#">
              <img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/5.jpg" alt="...">
            </a>

            <div class="media-body">
              <h6 class="mb-1">Allyssa Upton</h6>
              <p class="small-5 text-uppercase fw-400 ls-2 opacity-50 mb-2">Support</p>
              <div class="social social-sm social-light social-inline">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4 mb-3">
          <div class="media border border-glass rounded p-4">
            <a class="align-self-center mr-4" href="#">
              <img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/6.jpg" alt="...">
            </a>

            <div class="media-body">
              <h6 class="mb-1">Colby Kerr</h6>
              <p class="small-5 text-uppercase fw-400 ls-2 opacity-50 mb-2">Support</p>
              <div class="social social-sm social-light social-inline">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </section>