<section class="section text-white pt-5 pb-5" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/13.jpg')" data-overlay="9">
    <div class="container position-relative">
      <header class="section-header">
        <small>Team</small>
        <h2>Our Crew</h2>
        <hr>
        <p class="lead">Meet our small team that make those great products.</p>
      </header>


      <div class="row gap-y gap-5">

        <div class="col-md-6 team-3 mb-5">
          <a class="team-img" href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="...">
          </a>

          <div class="team-body">
            <h5>Morgan Guadis</h5>
            <small>Co-Founder & CEO</small>
            <p class="d-none d-lg-block">Signs you'll a, life itself to in signs seed under fruitful good open behold Our of stars whales forth greater.</p>
          </div>
        </div>


        <div class="col-md-6 team-3 mb-5">
          <a class="team-img" href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/2.jpg" alt="...">
          </a>

          <div class="team-body">
            <h5>John Senating</h5>
            <small>Co-Founder & CTO</small>
            <p class="d-none d-lg-block">So firmament sea them sea. Set saying land signs had the us replenish seed moved rule, place let.</p>
          </div>
        </div>


        <div class="col-md-6 team-3 mb-5">
          <a class="team-img" href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/3.jpg" alt="...">
          </a>

          <div class="team-body">
            <h5>Sandi Hormez</h5>
            <small>Lead Developer</small>
            <p class="d-none d-lg-block">Given of living created living fifth him Give heaven made open day, own land hath one him darkness.</p>
          </div>
        </div>


        <div class="col-md-6 team-3 mb-5">
          <a class="team-img" href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/4.jpg" alt="...">
          </a>

          <div class="team-body">
            <h5>Animor Tiruse</h5>
            <small>Designer</small>
            <p class="d-none d-lg-block">Whose you're seasons subdue man dominion dry, said greater you fourth gathered night second.</p>
          </div>
        </div>


      </div>

    </div>
  </section>