<section class="section pt-5 pb-5">
    <div class="container">
        <header class="section-header">
        <small>Team</small>
        <h2>Executive Team</h2>
        <hr>
        <p class="lead">Meet our small team that make those great products.</p>
        </header>


        <div class="row gap-y text-center">
        <div class="col-md-6 col-lg-3 team-1">
            <a href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/5.jpg" alt="...">
            </a>
            <h6>Morgan Guadis</h6>
            <small>Co-Founder & CEO</small>
            <div class="social social-gray">
            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>


        <div class="col-md-6 col-lg-3 team-1">
            <a href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/6.jpg" alt="...">
            </a>
            <h6>John Senating</h6>
            <small>Co-Founder & CTO</small>
            <div class="social social-gray">
            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>


        <div class="col-md-6 col-lg-3 team-1">
            <a href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/7.jpg" alt="...">
            </a>
            <h6>Sandi Hormez</h6>
            <small>Lead Developer</small>
            <div class="social social-gray">
            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>


        <div class="col-md-6 col-lg-3 team-1">
            <a href="#">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/8.jpg" alt="...">
            </a>
            <h6>Animor Tiruse</h6>
            <small>Designer</small>
            <div class="social social-gray">
            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        </div>

    </div>
</section>