<!-- Section/On this day (card) -->
<div class="col-md-12 col-xl-12 mx-auto p-0">
  <div class="bg-dark">
    <div class="row">
      <div class="col-md-7">
        <div class="text-white card_section_container">
          <h4 class="font-weight-bold">November 27, 1932</h4>
          <p class="mt-4">On November 27, 1932, Senator Benigno Simeon "Ninoy" Aquino Jr., a popular newspaperman, politician and opposition leader who was assassinated on August 21, 1983 at the Manila International Airport upon returning from exile in the United States, was born in Concepcion, Tarlac.</p>
          <div class="text-center">
              <button type="button" class="btn btn-outline-primary rounded-0 mt-5">Show Another Event</button>
          </div>
          
        </div>
      </div>
      <div class="col-md-5">
          <a href="#"><img class="card-image h-100" src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/4/20/F_HE_Phil1897_1.jpg" alt="..."/></a>
      </div>
    </div>
  </div>
</div>