<section id="image" class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <h2>Using Images</h2>
            <hr>
            <p class="lead">Cards include a few options for working with images. Choose from appending image caps at either end of a card or overlaying images with card content.</p>
          </header>


          <div class="row gap-y">

            <div class="col-12 col-lg-4">
              <div class="card d-block">
                <img class="card-img-top" src="../assets/img/thumb/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Image at top</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                  <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
                </div>
              </div>
            </div>


            <div class="col-12 col-lg-4">
              <div class="card d-block">
                <div class="card-img-top">
                  <img src="../assets/img/thumb/2.jpg" alt="Card image cap">
                  <div class="badges">
                    <a class="badge badge-warning" href="#">Product</a>
                    <a class="badge badge-info" href="#">Design</a>
                  </div>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Image at top with labels</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                  <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
                </div>
              </div>
            </div>



            <div class="col-12 col-lg-4">
              <div class="card d-block">
                <div class="card-img-top">
                  <img src="../assets/img/thumb/3.jpg" alt="Card image cap">
                  <div class="badges badges-right">
                    <a class="badge badge-warning" href="#">Product</a>
                  </div>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Image at top with right label</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                  <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
                </div>
              </div>
            </div>



            <div class="col-12 col-lg-4">
              <div class="card d-block">
                <img class="card-img-top" src="../assets/img/thumb/1.jpg" alt="Card image cap">

                <div class="card-body">
                  <h5 class="card-title">Card with a footer</h5>
                  <p class="mb-0">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                </div>

                <div class="card-footer text-right">
                  <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
                </div>
              </div>
            </div>


            <div class="col-12 col-lg-4">
              <div class="card card-shadowed d-block">
                <div class="card-body">
                  <h5 class="card-title">Image at bottom</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                  <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
                </div>
                <img class="card-img-bottom" src="../assets/img/thumb/2.jpg" alt="Card image cap">
              </div>
            </div>


            <div class="col-12 col-lg-4">
              <div class="card text-white bg-img" style="background-image: url(../assets/img/thumb/5.jpg)" data-overlay="5">
                <div class="card-body">
                  <h5 class="card-title">Background image</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                  <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
                </div>
              </div>

              <br>

              <div class="card text-white bg-img justify-content-center" style="background-image: url(../assets/img/thumb/5.jpg); min-height: 200px" data-overlay="6">
                <div class="card-body text-center flex-grow-0">
                  <p><i class="fa fa-camera lead"></i></p>
                  <h5 class="card-title mb-0">Video/Camera</h5>
                  <small>168 items</small>
                </div>
              </div>
            </div>

          </div>



        </div>
      </section>