<div class="card text-white bg-img justify-content-center h-400" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/1.jpg');" data-scrim-top="7">
    <div class="card-body p-6 text-center flex-grow-0 position-relative">
        <h3 class="card-title fw-200">A 70% scrim at top</h3>
        <p class="opacity-90">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
        <br>
        <a class="btn btn-sm btn-primary small-2 text-uppercase ls-15 btn-round pr-4 pl-4" href="#">Read more</a>
    </div>
</div>