<div class="card text-white bg-img h-400" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/2.jpg');" data-overlay="6">
    <div class="row h-100 p-4">
        <div class="col-12">
        <a class="text-white" href="#">Marketing</a>
        </div>

        <div class="col-12 align-self-end">
        <h3 class="card-title fw-200"><a class="text-white" href="#">An overlay with 60% opacity</a></h3>
        <div class="media align-items-center">
            <img class="avatar avatar-xs mr-3" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="...">
            <div class="media-body">Hossein Shams</div>
        </div>
        </div>
    </div>
</div>