<div class="card text-white justify-content-end bg-img h-400" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/1.jpg');" data-scrim-bottom="5">
    <div class="card-body flex-grow-0 position-relative">
      <h3 class="card-title fw-200"><a class="text-white" href="#">A scrim with 50% opacity at bottom</a></h3>
      <div class="media align-items-center">
        <img class="avatar avatar-xs mr-3" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="...">
        <div class="media-body">Hossein Shams</div>
      </div>
    </div>
  </div>