<div class="row gap-y">

        <div class="col-sm-6 col-lg-4">
          <p><i class="icon-mobile text-primary lead-6"></i></p>
          <hr class="mt-0 ml-0 w-10 border-primary">
          <h6>Responsive design</h6>
          <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
        </div>

        <div class="col-sm-6 col-lg-4">
          <p><i class="icon-gears text-success lead-6"></i></p>
          <hr class="mt-0 ml-0 w-10 border-success">
          <h6>Customizable</h6>
          <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
        </div>

        <div class="col-sm-6 col-lg-4">
          <p><i class="icon-tools text-info lead-6"></i></p>
          <hr class="mt-0 ml-0 w-10 border-info">
          <h6>UI Kit</h6>
          <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
        </div>

        <div class="col-sm-6 col-lg-4">
          <p><i class="icon-layers text-danger lead-6"></i></p>
          <hr class="mt-0 ml-0 w-10 border-danger">
          <h6>Lego Base</h6>
          <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
        </div>

        <div class="col-sm-6 col-lg-4">
          <p><i class="icon-recycle text-warning lead-6"></i></p>
          <hr class="mt-0 ml-0 w-10 border-warning">
          <h6>Clean Code</h6>
          <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
        </div>

        <div class="col-sm-6 col-lg-4">
          <p><i class="icon-chat text-dark lead-6"></i></p>
          <hr class="mt-0 ml-0 w-10 border-dark">
          <h6>Support</h6>
          <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
        </div>

        <div class="col-sm-6 col-lg-4">
            <p><i class="icon-recycle text-warning lead-6"></i></p>
            <hr class="mt-0 ml-0 w-10 border-warning">
            <h6>Clean Code</h6>
            <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
          </div>
  
          <div class="col-sm-6 col-lg-4">
            <p><i class="icon-chat text-dark lead-6"></i></p>
            <hr class="mt-0 ml-0 w-10 border-dark">
            <h6>Support</h6>
            <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
          </div>

          <div class="col-sm-6 col-lg-4">
              <p><i class="icon-chat text-dark lead-6"></i></p>
              <hr class="mt-0 ml-0 w-10 border-dark">
              <h6>Support</h6>
              <p>Now for manners use has company believe parlors. Least nor party who wrote while did.</p>
            </div>

      </div>
