<div class="row gap-y align-items-center">

    <div class="col-md-6 text-center text-md-right">
        <p class="small-2 text-uppercase text-secondary fw-500 ls-1">Design</p>
        <h3 class="fw-500 font-frank">Responsive Web Design</h3>
        <br>
        <p>Instrument cultivated alteration any favourable expression law far nor. Both new like tore but year. An from mean on with when sing pain. Oh to as principles devonshire companions unsatiable an delightful. The ourselves suffering the sincerity. Inhabit her manners adapted age certain. Debating offended at branched striking be subjects.</p>
    </div>

    <div class="col-md-6">
        <img class="rounded-md img-mx-width " src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/9.jpg" alt="...">
    </div>

</div>