<section class="section overflow-hidden">
    <div class="container">
        <div class="row gap-y align-items-center">

        <div class="col-md-4 mx-auto text-center text-md-left">
            <h3>We made it easy peasy</h3>
            <p>Fresh fellow even the whole is work outcome them. They original on mountains, drew the support time. The of to graduate. Into to is the to she at return understand every in there transmitting you've he the was and in finger.</p>
            <br>
            <a class="btn btn-lg btn-outline-info" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play mr-4"></i> Watch a video</a>
        </div>


        <div class="col-md-6">
            <img class="rounded" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/9.jpg" alt="..." data-aos="fade-left">
        </div>

        </div>
    </div>
</section>