<section class="section p-0" style="background-color: #4f8cf2">
    <div class="container-fluid px-0">
        <div class="row no-gutters">

        <div class="col-md-6 bg-img video-btn-wrapper order-md-2" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/10.jpg'); min-height: 300px;" >
            <!-- <a class="btn btn-lg btn-circle btn-danger" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a> -->
            <a href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-lightbox="img" data-title="My caption 1"><i class="fa fa-play"></i></a>
        </div>


        <div class="col-10 col-md-4 mx-auto py-7 py-md-9 text-white">
            <h5>Give a Fresh Design to Your SaaS</h5>
            <p class="mb-0">Fresh fellow even the whole is work outcome them. They original on mountains, drew the support time. The of to graduate. Into to is the to she at return understand every in there transmitting you've he the was and in finger.</p>
        </div>

        </div>
    </div>
</section>