<div class="container text-center p-5">
    <button type="button" class="btn btn-label btn-primary">
        <label><i class="fa fa-play"></i></label> Primary
    </button>
    <button type="button" class="btn btn-label btn-dark">
        <label><i class="fa fa-user"></i></label> Dark
    </button>
    <!-- <button type="button" class="btn btn-label btn-primary">
        <label><i class="fa fa-play"></i></label> Primary
    </button> -->
    <button type="button" class="btn btn-label btn-success">
        <label><i class="fa fa-shopping-cart"></i></label> Success
    </button>
    <button type="button" class="btn btn-label btn-facebook">
        <label><i class="fa fa-facebook"></i></label> Facebook
    </button>
    <button type="button" class="btn btn-label btn-google">
        <label><i class="fa fa-google"></i></label> Google
    </button>
    <button type="button" class="btn btn-label btn-twitter">
        <label><i class="fa fa-twitter"></i></label> Twitter
    </button>
</div>