<div class="bg-black mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-black rounded-0 ml-5 mr-5 mb-0">
        <li class="breadcrumb-item"><a class="breadcrumbsstrip_links" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumbsstrip_links" href="#">Volumes</a></li>
        <li class="breadcrumb-item"><a class="breadcrumbsstrip_links" href="#">Article</a></li>
        <li class="breadcrumb-item breadcrumbsstrip_links active" aria-current="page">Yakan</li>
        </ol>
    </nav>
</div>