<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom-gold"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white {% if page.title == "Design" %}active{% endif %}" href="{{ site.baseurl }}/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Design <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Page Types
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/article_page" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Article Page</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/article_page_2" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Article Page 2</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/main_landing_page" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Main Landing Page</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/main_landing_page_2" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Main Landing Page 2</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/portal_landing_page" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Portal Landing Page</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/standard_page_1" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Standard Page 1</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/standard_page_2" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Standard Page 2</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/standard_page_3" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Standard Page 3</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/page_types/standard_page_4" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Standard Page 4</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Section Blocks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/blog">Blog</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/contact">Contact</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/content">Content</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/cover">Cover</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/cta">Call To Action</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/download">Download</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/explore">Explore</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/feature-textual">Feature Textual</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/feature">Feature</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/footer">Footer</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/gallery">Gallery</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/header">Header</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/partner">Partner</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/pricing">Pricing</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/service">Service</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/signup">Signup</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/subscribe">Subscribe</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/team">Team</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/blocks/testimonial">Testimonial</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Components
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/accordion">Accordion</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/badge">Badge</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/breadcrumb">Breadcrumb</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/button">Buttons</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/cards">Card</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/carousel">Carousel</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/dropdown">Dropdown</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/gallery">Gallery</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/icon">Icon</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/image">Image</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/media-with-caption">Media with Caption</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/navbar">Navbar</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/searchbar">Search Bar</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/misc">Miscellaneous</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/modals">Modals</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/popup">Popup</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/pricing">Pricing</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/progress">Progress</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/quotes">Quotes</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/scroll">Scroll</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/imageslider">Slider</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/tabs">Tabs</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/table">Table</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/typography">Typography</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/v2/video">Video</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
