<div class="bg-black banner_div portalpage_banner_image">
    <div class="row">
    <div class="col-12 col-md-8">
        <p class=" text-uppercase font_cover_title">CCP Encyclopedia of Philippine Art</p>
        <p class="banner_subtitle">Welcome to the online CCP Encyclopedia of Philippine Art - the most authoritative and comprehensive source of information on Philippine Art and Culture. </p>
    </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control rounded-0 border-0 bg-dark input-searchbar text-white font-roboto font-weight-normal" placeholder="Search artworks, artists, articles..." aria-label="Search artworks, artists, articles..." aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary rounded-0 border-0 bg-secondary text-white input-searchbar" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <a class="text-secondary" href="#next-page">
        <div class="arrowbutton_down_withtext_animated pt-4 font-roboto">
            <i class="fa fa-caret-down pr-3 pt-1"></i><p>Sroll down to see more</p><i class="fa fa-caret-down pl-3 pt-1"></i>
        </div>
    </a>
</div>