<header class="header text-white vh-100 bg-img" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/8.jpg')" data-overlay="1">
    <div class="container">
      <div class="row align-items-center h-100">

        <div class="col-md-5 mx-auto pb-7">
          <h1 class="display-3">Stay Healthy</h1>
          <p class="lead-4">Workout Tracking & Coaching</p>
          <p class="lead-2 fw-400 mb-7">Easily track any workout you can imagine. Use any of our free workouts or make up your own.</p>
          <a class="btn btn-xl btn-round btn-info pr-4 pl-4" href="#">Get started free</a>
        </div>

        <div class="col-md-5 mx-auto text-center">
          <a class="btn btn-xl btn-circle btn-dark p-7" href="https://www.youtube.com/embed/M5S_JBRjd1s" data-provide="lightbox"><i class="fa fa-play"></i></a>
        </div>

      </div>
    </div>
</header>