<div class="bg-black banner_div portalpage_banner_image" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/homepage-3-header-video-still.png')" data-overlay="1">
<div class="row">
    <div class="col-12 col-md-8">
        <p class="text-uppercase font_cover_title">CCP Encyclopedia of Philippine Art</p>
        <p class="banner_subtitle">Welcome to the online CCP Encyclopedia of Philippine Art - the most authoritative and comprehensive source of information on Philippine Art and Culture. </p>
    </div>
    <div class="col-12 col-md-4 mx-auto my-auto text-center">
        <a class="btn btn-xl btn-circle btn-dark p-7" href="https://www.youtube.com/embed/M5S_JBRjd1s" target="_blank" data-provide="lightbox"><i class="fa fa-play"></i></a>
    </div>
    </div>
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control rounded-0 border-0 bg-dark" placeholder="Search artworks, artists, articles..." aria-label="Search artworks, artists, articles..." aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary rounded-0 border-0 bg-secondary text-white" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <a class="text-secondary" href="#next-page">
        <div class="arrowbutton_down_withtext_animated pt-4">
            <i class="fa fa-caret-down pr-3 pt-1"></i><p>Sroll down to see more</p><i class="fa fa-caret-down pl-3 pt-1"></i>
        </div>
    </a>
</div>