<header class="header text-white pb-5 bg-black">
<!-- <header class="header text-white vh-100 pb-5" style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);"> -->
    <div class="container text-center">

        <div class="row h-100">
        <div class="col-md-7 col-xl-5 mx-auto align-self-center">
            <h1 class="display-2 fw-600 ls-3 font-frank">TheSaaS</h1>
            <p class="lead-3 mx-auto mt-5 mb-5">Is an elegant, modern and fully customizable SaaS and WebApp template.</p>
            <hr class="w-50 mb-5">
            <a class="btn btn-primary btn-xl small-2 text-secondary text-uppercase ls-15 btn-round btn-light pr-4 pl-4" href="#">See Demos</a>
        </div>

        <div class="col-12 align-self-end text-center mt-5">
            <a class="scroll-down-1 scroll-down-white" href="#section-next"><span style="border-color: white;"></span></a>
        </div>
        </div>

    </div>
</header>