<header class="header text-white vh-100 bg-dark pb-0 overflow-hidden" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/vector/16.png'); background-color: #262a37;">
    <div class="" style="background-color: #262a37;"></div>
    <div class="container text-center">
        <div class="row align-items-center h-100">

        <div class="col-md-8 mx-auto">
            <h1>Increase your conversion with TheSaaS</h1>
            <p class="lead mt-3 mb-5">An elegant, modern and fully customizable SaaS and WebApp template</p>
            <a class="btn btn-lg btn-round btn-primary pr-5 pl-5 small-1" href="#">Get started</a>
        </div>

        <div class="col-md-8 mx-auto align-self-end">
            <img class="mt-5 aos-init img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/preview/laptop-2.png" alt="img">
        </div>

        </div>
    </div>
</header>