<div class="bg-black banner_div portalpage_banner_image" style="background-image: url('https://i.ibb.co/rpd9S1d/IMG-20191119-121202.jpg')">
    <div class="row">
    <div class="col-12 col-md-8">
        <div class="volumetag_big_volumename bg-maroon">
        <p class="mb-0">Peoples of the Philippines</p>
        </div>
        <div class="mb-0 mt-0">
            <p class="banner_header_ondarkerimage">Yakan</p>
        </div>
        <div class="m-0">
        <p class="banner_subheader_ondarkerimage">Get to know the majority Muslim group in Basilan, an island province just south of Zamboanga peninsula. </p>
        </div>
    </div>
    </div>
</div>