<div class="bg-black banner_div portalpage_banner_image mb-5" style="background-image: url('https://i.ibb.co/Wfb1CQd/1.png')">
    <div class="row">
    <div class="col-12 col-md-4">
        <img  class="card-img landing_logo rounded-0"  src="https://i.ibb.co/T8xxW04/sun-logo.png" alt="...">
    </div>
    <div class="col-12 col-md-8">
        <h2 class="text-gold text-over-title">Cultural Center of the Philippines</h2>
        <p class=" text-uppercase font_cover_title">Encyclopedia of Philippine Art</p>
        <p class="banner_subtitle">Welcome to the online CCP Encyclopedia of Philippine Art - the most authoritative and comprehensive source of information on Philippine Art and Culture. </p>
    </div>
    </div>
    <div class="input-group homepage-search">
        <input type="text" class="form-control rounded-0 border-0 bg-dark" placeholder="Search artworks, artists, articles..." aria-label="Search artworks, artists, articles..." aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary rounded-0 border-0 bg-secondary text-white" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>