<nav class="navbar navbar-inverse navbar-expand-lg nav-mobile bg-black border-bottom-gold">
    <a class="mobile-menu-item" href="#" data-toggle="popup-home" data-target="#home">
        <div class="icon2 mb-0">
        <i class="fa fa-home" aria-hidden="true"></i>
        <i class="fa fa-home" aria-hidden="true"></i>
        </div>
        <div class="title-container"><span class="span-title" data-text="Home">Home</span></div>
    </a>
    <a class="mobile-menu-item" href="#" data-toggle="popup-search" data-target="#search">
        <div class="icon2 mb-0">
        <i class="fa fa-search" aria-hidden="true"></i>
        <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="title-container"><span class="span-title" data-text="About">Search</span></div>
    </a>
    <a class="mobile-menu-item" href="#" data-toggle="popup-featured" data-target="#featured">
        <div class="icon2 mb-0">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="title-container"><span class="span-title" data-text="Services">Featured</span></div>
    </a>
    <a class="mobile-menu-item" href="#" data-toggle="popup-volume" data-target="#volume">
        <div class="icon2 mb-0">
        <i class="fa fa-book" aria-hidden="true"></i>
        <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="title-container"><span class="span-title" data-text="Services">Volumes List</span></div>
    </a>
  <!-- <a href="#" data-html="true" data-toggle="popover" title="Popover Header" data-content="
            <div class='aa'><b>Example popover</b> - contents</div>
            ">Toggle popover</a> -->
  <a class="mobile-menu-item" href="#" data-toggle="popup-more" data-target="#more">
        <div class="icon2 mb-0">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="title-container"><span class="span-title" data-text="Services">More</span></div>
    </a>
</nav>

<!-- <div id="home" class="popup popup-home nav-mobile-bottom-full-width rounded-0 col-12 col-md-4 collapse" data-position="bottom-full-width">
    <button type="button" class="close" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="media ">
        <img class="avatar mr-5" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="avatar">
        <div class="media-body">
        <h5>Home</h5>
        <p class="mb-0">We'd like to welcome you to our website and hope you have a great time browsing our template.</p>
        </div>
    </div>
</div> -->

<div id="search" class="popup popup-search nav-mobile-bottom-full-width rounded-0 col-12 col-md-4 collapse bg-black p-3" data-position="bottom-full-width">
    <button type="button" class="close opacity-light text-white" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>


    <div class="row text-white small-10 font-roboto ls-15">
        <div class="col-4 col-md-4">
            <div class="row">
                <div class="col-6 pr-0 popup-btn">
                    <i class="fa fa-search"></i>
                </div>
                <div class="col-6">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white text-uppercase">Search this page</label>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4">
            <div class="row">
                <div class="col-6 pr-0 popup-btn">
                    <i class="fa fa-search"></i>
                </div>
                <div class="col-6">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white text-uppercase">Search by keyword</label>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4">
            <div class="row">
                <div class="col-6 pr-0 popup-btn">
                    <i class="fa fa-search"></i>
                </div>
                <div class="col-6">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white text-uppercase">Search by artist</label>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div id="featured" class="popup popup-featured nav-mobile-bottom-full-width rounded-0 col-12 col-md-4 collapse" data-position="bottom-full-width">
    <button type="button" class="close" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="media ">
        <img class="avatar mr-5" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="avatar">
        <div class="media-body">
        <h5>Featured</h5>
        <p class="mb-0">We'd like to welcome you to our website and hope you have a great time browsing our template.</p>
        </div>
    </div>
</div> -->

<div id="volume" class="popup popup-volume nav-mobile-bottom-full-width rounded-0 col-12 col-md-4 collapse bg-black p-3" data-position="bottom-full-width">
    <button type="button" class="close opacity-light text-white" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="row text-white small-10 mx-auto font-roboto ls-15">
        <div class="col-4 col-md-4">
            <div class="form-group row">
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 1</b> Peoples of the Philippines</label>
                </a>
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 2</b> Architecture</label>
                </a>
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 3</b> Visual Arts</label>
                </a>
            </div>
        </div>
        <div class="col-4 col-md-4">
            <div class="form-group row">
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 4</b> Film</label>
                </a>
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 5</b> Music</label>
                </a>
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 6</b> Dance</label>
                </a> 
            </div>
        </div>
        <div class="col-4 col-md-4">
            <div class="form-group row">
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 7</b> Theater</label>
                </a>
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 8</b> Broadcast Arts</label>
                </a>
                <a href="#">
                    <label for="about" class="col-sm-2 col-form-label pl-0 text-white"><b class="text-uppercase">Vol 9</b> Literature</label>
                </a> 
            </div>
        </div>
    </div>
</div>

<div id="more" class="popup popup-more nav-mobile-bottom-full-width rounded-0 col-12 col-md-4 collapse bg-black p-3" data-position="bottom-full-width">
    <button type="button" class="close opacity-light text-white" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="row text-white small-10 mx-auto font-roboto ls-15">
        <div class="col-4 col-md-4">
            <div class="form-group row">
                <label for="about" class="col-sm-2 col-form-label pl-0">About</label>
                <label for="about" class="col-sm-2 col-form-label pl-0">Contact Us</label>
                <label for="about" class="col-sm-2 col-form-label pl-0">Follow Us</label> 
                <div>
                    <span class="iconbox iconbox-sq iconbox-xxs mr-1">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="iconbox iconbox-sq iconbox-xxs mr-1">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="iconbox iconbox-sq iconbox-xxs mr-1">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                
            </div>
        </div>
        <div class="col-8 col-md-8">
            <input class="form-control form-control-sm small-10 mb-2" type="text" placeholder="Username">
            <input class="form-control form-control-sm small-10 mb-2" type="text" placeholder="Password">
            <label for="about" class="col-sm-2 col-form-label text-center"><b>Sign In</b> or <b>Register</b></label>
        </div>
    </div>
</div>