<nav class="navbar navbar-expand-lg navbar-dark bg-black text-white border-bottom-gold-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="" width="80%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-uppercase navbar_menu_container justify-content-center">
            <li class="nav-item pr-3 active">
                <a class="nav-link navbar_menu_item active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link navbar_menu_item" href="#">Volumes</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link navbar_menu_item" href="#">Featured</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link navbar_menu_item" href="#">Follow Us</a>
            </li>
        </ul>

            <h3 class="pr-4"><i class="fa fa-search"></i></h3>
            <h3 class="pr-4"><i class="fa fa-user"></i></h3>
        </div>
    </div>
</nav>