<nav class="navbar navbar-expand-lg bg-black text-white border-bottom-gold justify-content-around">

        <a class="mobile-menu-item" href="#">
                <div class="icon2 mb-0">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="title-container"><span class="span-title" data-text="Home">Home</span></div>
            </a>
            <a class="mobile-menu-item" href="#">
                <div class="icon2 mb-0">
                <i class="fa fa-search" aria-hidden="true"></i>
                <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="title-container"><span class="span-title" data-text="About">Search</span></div>
            </a>
            <a class="mobile-menu-item" href="#">
                <div class="icon2 mb-0">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="title-container"><span class="span-title" data-text="Services">Featured</span></div>
            </a>
            <a class="mobile-menu-item" href="#">
                <div class="icon2 mb-0">
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                </div>
                <div class="title-container"><span class="span-title" data-text="Services">Volumes List</span></div>
            </a>
            <!-- <p><a href="#" role="button" class="btn btn-secondary popover-test" data-html="true" data-toggle="popover" title="Email me:" data-content="<a href=&quot;mailto:someone@example.com?Subject=Hello&quot; target=&quot;_top&quot;>Send Mail to:</a> templenaylor@gmail.com">Contact
                Me</a>
        </p> -->

        <!-- <div class="col-md-4 col-xl-4">
                <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="popup" data-target="#popup-promotion-1">Promotion 1</button>
              </div> -->
            <a class="mobile-menu-item" href="#" data-html="true" data-toggle="popover" data-placement="top" data-content="
                <div class='aa'><b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                    <b>Example popover</b> - contents
                </div>
                ">
                    <div class="icon2 mb-0">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div class="title-container"><span class="span-title" data-text="Services">More</span></div>
            </a>
    </nav>
<!-- 
    <div id="popup-promotion-1" class="popup col-10 col-md-4 p-6" data-animation="slide-up">
            <button type="button" class="close" data-dismiss="popup" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      
            <div class="text-center">
              <h4>50% OFF</h4>
              <p class="lead">Just today! Get all of our template for half of the price. Only $99.</p>
              <p><img class="rounded" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/shop/11.jpg" alt="..."></p>
              <a class="btn btn-lg btn-block btn-danger" href="#">Redeem it now</a>
            </div>
          </div> -->