<div class="rounded p-5 bg-img text-center" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/11.jpg');">
    <span class="badge badge-glass badge-primary">Primary</span>
    <span class="badge badge-glass badge-secondary">Secondary</span>
    <span class="badge badge-glass badge-success">Success</span>
    <span class="badge badge-glass badge-danger">Danger</span>
    <span class="badge badge-glass badge-warning">Warning</span>
    <span class="badge badge-glass badge-info">Info</span>
    <span class="badge badge-glass badge-light">Light</span>
    <span class="badge badge-glass badge-dark">Dark</span>
</div>