<article class="article-container p-5">
    <h1 class="article_section_title_onwhite">Title</h1>
    <hr class="article_section_lineseparator mt-4 mb-4"/>
    <div>
      <ul class="list-style-square article_paragraphtext text-break-all">
        <li>“An Act to Strengthen and Expand the Organic Act for the ARMM: RA 9054.” 1989. The Lawphil Project: Arellano Law Foundation. http://www.lawphil.net/statutes/repacts/ra2001/ ra_9054_2001.html.</li>
        <li>Alim, Guiamel. 1995. “The Bangsamoro Struggle for Self-Determination.” Speech delivered at Philippine Solidarity 2000: In Search of New Perspectives, the European Solidarity Conference on the Philippines, Hoisdorf, Germany, 23-25 Jun. http://www.seasite.niu.edu/tagalog/Modules/Modules/MuslimMindanao/.</li>
        <li>“ARMM History.” 2014. Official Website of the Autonomous Region in Muslim Mindanao.Accessed 10 Jun. http://armm.gov. ph/history.</li>
        <li>
          <blockquote>
              <p class="" style="display: contents;">Alim, Guiamel. 1995. </p> 
              <p class="font-italic font-weight-bold" style="display: contents;">“The Bangsamoro Struggle for Self-Determination.”</p> 
              <p class="" style="display: contents;">Speech delivered at Philippine Solidarity 2000: In Search of New Perspectives, the European Solidarity Conference on the Philippines, Hoisdorf, Germany, 23-25 Jun.</p> 
              <p class="text-gold" style="display: contents;">http://www.seasite.niu.edu/tagalog/Modules/Modules/MuslimMindanao/.</p> 
          </blockquote>
        </li>
      </ul> 
    </div>
</article>
