<div>
    <h1 class="article_section_title_onwhite">Title</h1>
    <hr class="article_section_lineseparator mt-4 mb-4"/>
    <p class="article_paragraphtext">
        At large gatherings, the Yakan entertain each other with untukan (riddles). The subjects of the riddle derive from their natural surroundings, such as in the following (Behrens 2007, 213, 216):
    </p>
    <div class="ArticleCopy">
        <blockquote class="article_quote">
            <p class="p-3 mb-0">Anak datu’ maglalin,Magsa’il nuhut lan. (Buwani)</p>
        </blockquote>
        <blockquote class="article_quote">
            <p class="p-3 mb-0">Tinanem kuwe’ impen,Buwa’nen kuwe’ lengngen. (Batad)</p>
        </blockquote>
    </div>
    <p class="article_paragraphtext">
        The most prominent example of Yakan literature is the origin myth or legend. Two related origin myths narrate the story of the world and of mankind. First, there was only darkness until God created light, and then water, which the wind scattered all over. Then God created the trees, which bore 7.7 million fruits. Next, he created a bird, which died after eating the last fruit. After the bird’s death, God created 70 Adams, one after another, each with a life span of 70 years. The last Adam is supposedly the ancestor of the people.
    </p>
</div>