---
layout: home
---

<div class="mt-5 font-frank">
    <!-- Navbar -->
    <h3 id="heading-classes" class="text-center">Nav Bar</h3>
    <div class="mb-5">
        {% include components/navbar/navbar.html %}
    </div>
      {% include components/navbar/navbar-mobile.html %}
    
    <!-- Sections -->
    <h3 id="heading-classes" class="text-center">Sections</h3>
    <div class="mb-5">{% include design/section/section-with-sidebarmenu.html %}</div>
    {% include design/section/section-with-cards.html %}

    <!-- Covers -->
    <h3 id="heading-classes" class="text-center">Cover with scroll down button</h3>
    <div class="mb-5">{% include blocks/cover/cover-with-scroll-button.html %}</div>
    <h3 id="heading-classes" class="text-center">Cover with search bar</h3>
    <div class="mb-5">{% include blocks/cover/cover-with-searchbar.html %}</div>
    {% include blocks/cover/cover-without-searchbar.html %}
    {% include blocks/cover/cover-darkbg-without-searchbar.html %}
    {% include blocks/cover/cover-with-logo.html %}

    <!-- Cards -->
    <h3 id="heading-classes" class="text-center mt-5">Cards</h3>
    <div class="volume_page p-5">
        <div class="row justify-content-center">
            {% include components/cards/cards.html %}
        </div>
    </div>

    <!-- Breadcrumb -->
    <h3 id="heading-classes" class="text-center">Breadcrumb</h3>
    <div class="volume_page p-5">
        {% include components/breadcrumb/breadcrumb-dark-1-left.html %}
    </div>

    <!-- Images -->
    <h3 id="heading-classes" class="text-center">Image Centered with text overlay</h3>
    <div class="volume_page p-5">
        {% include components/images/img-with-text-overlay.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Rounded Image</h3>
    <div class="volume_page p-5">
        {% include components/images/rounded-img.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Rounded Image Centered with text overlay</h3>
    <div class="volume_page p-5">
        {% include components/images/rounded-img-with-text-overlay.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Rounded Image with bottom text</h3>
    <div class="volume_page p-5">
        {% include components/images/rounded-img-with-bottom-text.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image with text overlay on upper left corner</h3>
    <div class="volume_page p-5">
        {% include components/images/img-with-text-upper-left.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image with bottom text</h3>
    <div class="volume_page p-5">
        {% include components/images/img-with-bottom-text.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image with text overlay and bottom text</h3>
    <div class="volume_page p-5">
        {% include components/images/img-with-bottom-and-text-overlay.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image with centered, upper left and bottom text overlay</h3>
    <div class="volume_page p-5">
        {% include components/images/img-with-centered-upper-left-and-bottom-text.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image with lightbox</h3>
    <div class="volume_page p-5">
        {% include components/images/img-with-lightbox.html %}
    </div>
    <h3 id="heading-classes" class="text-center mb-5">Image with Description</h3>
        {% include components/images/img-title-description.html %}
    <h3 id="heading-classes" class="text-center mt-5">Image Tiles</h3>
    <div class="container">
        {% include components/images/img-tiles.html %}
    </div>
    <h3 id="heading-classes" class="text-center mt-5">Image Masonry</h3>
    <div class="container">
        {% include components/images/img-masonry.html %}
        <h3 id="heading-classes" class="text-center mt-5">Image Masonry 3 Columns</h3>
        {% include components/images/img-masonry-3columns.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image Full width with text overlay</h3>
    <div class="container p-5">
        {% include components/images/img-full-width-with-text-overlay.html %}
    </div>


    <!-- Image Slider -->
    <h3 id="heading-classes" class="text-center">Image Slider (Owl Carousel/Responsive without Loop)</h3>
    <div class="volume_page p-5">
        {% include components/slider/img-slider-responsive.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image Slider (Owl Carousel/Center with Loop)</h3>
    <div class="volume_page p-5">
        {% include components/slider/img-slider-center-with-loop.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image Slider (Owl Carousel with Lightbox)</h3>
    <div class="volume_page p-5">
        {% include components/slider/img-slider-with-lightbox.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image Slider with Image Indicators</h3>
    <div class="">
        {% include components/slider/img-slider-with-img-indicators.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image Slider with description (Portrait)</h3>
    <div class="volume_page p-5">
        {% include components/slider/img-slider-with-desc.html %}
    </div>
    <h3 id="heading-classes" class="text-center">Image Slider with bottom text overlay</h3>
    <div class="">
        {% include components/slider/img-slider-with-img-indicators-text-overlay.html %}
    </div>
    

    <!-- Video -->
    <div class="mt-5">
      <h3 id="heading-classes" class="text-center">Embedded Video</h3>
      <div class="container">
          {% include components/video/embedded.html %}
      </div>
      <h3 id="heading-classes" class="text-center">Local Video</h3>
      <div class="container">
          {% include components/video/local-video.html %}
      </div>
    </div>
    
     <!-- Modal -->
     {% include components/modals/modals.html %}

     <!-- Popover -->
     <!-- {% include design/popover/popover.html %} -->
    
  </div>  
    <!-- Article -->
    <h3 class="text-center">Article Page</h3>
    
    <div class="article_page article-container">
        <div class="container">
            <div class="mt-4 mb-4">
                <h4 class="text-center">Paragraph</h4>
                <div class="mt-5">
                    {% include design/article/paragraph.html %}
                </div>
                
            </div>
            <div class="mt-4 mb-4">
                <h4 class="text-center">Paragraph with Photo</h4>
                {% include design/article/paragraph-with-photo.html %}
            </div>
            <div class="mt-4 mb-4">
                <h4 class="text-center">Paragraph with Video</h4>
                {% include design/article/paragraph-with-video.html %}
            </div>
            <div class="mt-4 mb-4">
                <h4 class="text-center">Paragraph with Quotes</h4>
                {% include design/article/paragraph-with-quotes.html %}
            </div>
            <div class="mt-4 mb-4">
                <h4 class="text-center">Bulleted Links</h4>
                {% include design/article/bulleted-links.html %}
            </div>
            <div class="mt-4 mb-4">
                <h4 class="text-center">Bulleted Text and Links</h4>
                {% include design/article/bulleted-text-and-links.html %}
            </div>
        </div>
    </div>

    <!-- Menu -->
    <h3 class="text-center">Sidebar Menu</h3>
    <div class="mb-5">
        <div class="volume_page bg-black">
            <div class="row">
                {% include design/menu/sidebar-menu.html %}
            </div>
        </div>
    </div>

    <!-- Search Bar -->
    <h3 class="text-center">Search Bar</h3>
    <div class="mb-5">
        <div class="volume_page bg-black">
            <div class="row">
                {% include components/searchbar/searchbar.html %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <h3 class="text-center">Footer</h3>
    <div class="mb-5">
        {% include blocks/footer/footer-1-centered-text-menu-and-social-media-dark.html %}
        <br>
        {% include blocks/footer/footer.html %}
        <br>
        {% include blocks/footer/footer-2.html %}
        <br>
        {% include blocks/footer/footer-2-5-col-desc-list-and-call-to-action-light-4-lists.html %}
        <br>
        {% include blocks/footer/footer-3-6-col-lists-with-bg-image-dark.html %}
        <br>
    </div>
    


