<section id="lity" class="section">
        <div class="container p-4">
            <div class="row gap-y align-items-center">
    
            <div class="col-lg-5">
                <div class="gallery gallery-4-type4">
                    <div class="gallery-item-group">
                            <a class="gallery-item" href="#">
                            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/13.jpg" alt="..." data-provide="lightbox">
                            </a>
                            <a class="gallery-item" href="#">
                            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/10.jpg" alt="..." data-provide="lightbox">
                            </a>
                            <a class="gallery-item" href="#">
                            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/12.jpg" alt="..." data-provide="lightbox">
                            </a>
                        </div>
                    <a class="gallery-item" href="#">
                        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/14.jpg" alt="..." data-provide="lightbox">
                    </a>
                </div>
            </div>
    
            <div class="col-lg-6 ml-auto">
                <h2>Lovely place to work</h2>
                <br>
                <p class="lead-2">Beautifully designed by best interior designers for the best web designers</p>
                <p>We can combine beautiful, modern designs with clean, functional. And best of all, we are super passionate about our work. Thought does cognitive into follow and rationale annoyed.</p>
            </div>
    
        </div>
    </div>
</section>