<div class="container p-4">
    <header class="section-header">
    <small>Features</small>
    <h2 class="font-frank">Header variations</h2>
    <hr>
    <p class="lead">We waited until we could do it right. Then we did! Instead of creating a carbon copy.</p>
    </header>


    <div class="row gap-y">


    <div class="col-md-4 pb-3">
        <ul class="nav nav-tabs-shadow nav-tabs-border">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-1">
            <h6>Solid color</h6>
            <p class="small mb-0">Use only one color on your header and display some text on it.</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
            <h6>Gradient color</h6>
            <p class="small mb-0">You can create a gradient background with two or more colors.</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
            <h6>Image</h6>
            <p class="small mb-0">Display an image as a background image with an optional overlay.</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
            <h6>Particle</h6>
            <p class="small mb-0">Display hundreds of dots moving in your header with less attention.</p>
            </a>
        </li>
        </ul>
    </div>


    <div class="col-md-7 ml-auto align-self-center">
        <div class="tab-content text-center">

        <div class="tab-pane fade show active" id="tab-1">
            <img class="shadow-3 img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/preview/header-color.jpg" alt="...">
        </div>

        <div class="tab-pane fade" id="tab-2">
            <img class="shadow-3 img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/preview/header-gradient.jpg" alt="...">
        </div>

        <div class="tab-pane fade" id="tab-3">
            <img class="shadow-3 img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/preview/header-image.jpg" alt="...">
        </div>

        <div class="tab-pane fade" id="tab-4">
            <img class="shadow-3 img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/preview/header-particle.jpg" alt="...">
        </div>

        </div>
    </div>


    </div>


</div>