<div class="card text-center shadow-1 hover-shadow-6">
    <div class="card-img-top text-white bg-img h-200 d-flex align-items-center" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/3.jpg')" data-overlay="1">
        <div class="position-relative w-100">
        <p class="lead-4 text-uppercase fw-600 ls-1 mb-0">Starter</p>
        <p>Monthly Package</p>
        </div>
    </div>
    <div class="card-body py-6">
        <p class="lead-7 fw-600 text-dark">$6.<span class="lead-4 align-text-top">99</span></p>
        <p>
        Single Website<br>
        60GB Bandwidth<br>
        Manual Import<br>
        No Support<br>
        </p>
        <br>
        <div><a class="btn btn-round btn-outline-secondary w-200 small-2 text-secondary text-uppercase ls-15 pr-4 pl-4" href="#">Sign up</a></div>
    </div>
</div>