<section class="section p-4">
    <div class="container">
        <header class="section-header">
        <small>Services</small>
        <h2>Our Services</h2>
        <hr>
        <p class="lead">Join thousands of satisfied customers using our template globally.</p>
        </header>


        <div class="row">

        <div class="col-md-6 col-xl-4 ml-lg-auto">
            <h6 class="bt-2 border-secondary py-4"><a class="text-black" href="#">Website Design</a></h6>
            <p>Written enquire painful to offices forming it. Then so does over sent dull. Likewise offended humour mrs fat trifling answered. On ye position greatest so desirous enable performance based.</p>
            <br><br>
        </div>

        <div class="col-md-6 col-xl-4 mr-lg-auto">
            <h6 class="bt-2 border-info py-4"><a class="text-black" href="#">Application Development</a></h6>
            <p>Written enquire painful to offices forming it. Then so does over sent dull. Likewise offended humour mrs fat trifling answered. On ye position greatest so desirous enable performance based.</p>
            <br><br>
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 col-xl-4 ml-lg-auto">
            <h6 class="bt-2 border-secondary py-4"><a class="text-black" href="#">Branding Package</a></h6>
            <p>Written enquire painful to offices forming it. Then so does over sent dull. Likewise offended humour mrs fat trifling answered. On ye position greatest so desirous enable performance based.</p>
            <br><br>
        </div>

        <div class="col-md-6 col-xl-4 mr-lg-auto">
            <h6 class="bt-2 border-secondary py-4"><a class="text-black" href="#">Advertisement</a></h6>
            <p>Written enquire painful to offices forming it. Then so does over sent dull. Likewise offended humour mrs fat trifling answered. On ye position greatest so desirous enable performance based.</p>
            <br><br>
        </div>

        </div>

    </div>
</section>