<section class="section">
    <div class="container">
        <header class="section-header mt-5">
        <small>Services</small>
        <h2>Our Services</h2>
        <hr>
        <p class="lead">Join thousands of satisfied customers using our template globally.</p>
        </header>


        <div class="row gap-y">

        <div class="col-md-6 col-xl-3 mb-3">
            <div class="card card-body shadow-3 text-center bg-success text-white">
            <p class="my-5"><i class="fa fa-desktop lead-7"></i></p>
            <h5 class="mb-5 fw-500"><a class="text-white" href="#">Web Design</a></h5>
            <p>He polite be object change. Consider no overcame yourself sociable children.</p>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-3">
            <div class="card card-body shadow-3 text-center">
            <p class="my-5"><i class="fa fa-mobile lead-7"></i></p>
            <h5 class="mb-5 fw-500"><a class="text-black" href="#">Mobile App</a></h5>
            <p>He polite be object change. Consider no overcame yourself sociable children.</p>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-3">
            <div class="card card-body shadow-3 text-center bg-info text-white">
            <p class="my-5"><i class="fa fa-camera lead-7"></i></p>
            <h5 class="mb-5 fw-500"><a class="text-white" href="#">Digital Marketing</a></h5>
            <p>He polite be object change. Consider no overcame yourself sociable children.</p>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-3">
            <div class="card card-body shadow-3 text-center">
            <p class="my-5"><i class="fa fa-bullhorn lead-7"></i></p>
            <h5 class="mb-5 fw-500"><a class="text-black" href="#">Branding Package</a></h5>
            <p>He polite be object change. Consider no overcame yourself sociable children.</p>
            </div>
        </div>

        </div>


    </div>
</section>