<section class="section">
        <div class="container">

          <div class="row gap-y">

            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-menu-1">Menu 1</button>
            </div>

            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-menu-2">Menu 2</button>
            </div>

            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-menu-3">Menu 3</button>
            </div>

            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-menu-4">Menu 4</button>
            </div>


            <div class="w-100"><hr></div>


            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-search-1">Search 1</button>
            </div>

            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-search-2">Search 2</button>
            </div>

            <div class="col-md-4 col-xl-3">
              <button class="btn btn-lg btn-block btn-outline-secondary" type="button" data-toggle="offcanvas" data-target="#offcanvas-search-3">Search 3</button>
            </div>


          </div>

        </div>
      </section>

      