<div class="row gap-y">
        <div class="col-md-6 mb-3">

          <form>
            <!-- <div class="alert alert-success d-on-success">We received your message and will contact you back soon.</div> -->

            <div class="form-group">
              <input class="form-control form-control-lg rounded-0" type="text" name="name" placeholder="Your Name">
            </div>

            <div class="form-group">
              <input class="form-control form-control-lg rounded-0" type="email" name="email" placeholder="Your Email Address">
            </div>

            <div class="form-group">
              <textarea class="form-control form-control-lg rounded-0" name="message" rows="4" placeholder="Your Message"></textarea>
            </div>

            <button class="btn btn-lg btn-primary btn-block rounded-0" type="submit">Send Inquiry</button>
          </form>

        </div>


        <div class="col-md-5 ml-auto">
          <div class="bg-gray h-100 p-4">
            <p>Give us a call or stop by our door anytime, we try to answer all enquiries within 24 hours on business days.</p>
            <p>We are open from 9am — 5pm week days.</p>

            <hr class="w-20 my-6">

            <p class="lead">652 Main Road, Apt 12<br>New York, USA 10033</p>

            <div>
              <span class="d-inline-block w-5 text-lighter" title="Email">E:</span>
              <span class="small-1">info@domain.com</span>
            </div>

            <div>
              <span class="d-inline-block w-5 text-lighter" title="Phone">P:</span>
              <span class="small-1">+1 (123) 456-7890</span>
            </div>

          </div>
        </div>
      </div>