<header class="header">
    <div class="container p-4">
        <div class="row align-items-center h-100">

        <div class="col-md-7 mx-auto">
            <h1>About us</h1>
            <p class="lead-3">Our company was founded in 2013 with a mission to create pretty templates for great startups. We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning websites. And best of all, we are super passionate about our work. Thought does cognitive into follow and rationale annoyed.</p>
        </div>

        </div>
    </div>
</header>