<div class="container">
    <header class="section-header text-white">
    <h2>Happy Customers</h2>
    <hr>
    <p class="lead">Join thousands of satisfied customers using our template globally.</p>
    </header>


    <div class="row gap-y">

    <div class="col-md-4 mb-3">
        <div class="card shadow-3">
        <div class="card-body px-6">
            <div class="rating mb-3">
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            </div>

            <p class="text-quoted mb-5">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on.</p>
            <div class="media align-items-center pb-0">
            <img class="avatar avatar-xs mr-3" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="...">
            <div class="media-body lh-1">
                <div class="fw-400 small-1 mb-1">Maryam Amiri</div>
                <small class="text-lighter">@maryami</small>
            </div>
            </div>
        </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card shadow-3">
        <div class="card-body px-6">
            <div class="rating mb-3">
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            </div>

            <p class="text-quoted mb-5">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on.</p>
            <div class="media align-items-center pb-0">
            <img class="avatar avatar-xs mr-3" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/2.jpg" alt="...">
            <div class="media-body lh-1">
                <div class="fw-400 small-1">Hossein Shams</div>
                <small class="text-lighter">@shamsoft</small>
            </div>
            </div>
        </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card shadow-3">
        <div class="card-body px-6">
            <div class="rating mb-3">
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            </div>

            <p class="text-quoted mb-5">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on.</p>
            <div class="media align-items-center pb-0">
            <img class="avatar avatar-xs mr-3" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/3.jpg" alt="...">
            <div class="media-body lh-1">
                <div class="fw-400 small-1 mb-1">Sarah Johns</div>
                <small class="text-lighter">@sarah</small>
            </div>
            </div>
        </div>
        </div>
    </div>

    </div>

</div>
