<div class="container">
    <header class="section-header">
    <h2>What People Say</h2>
    <br>
    <p class="lead">We waited until we could do it right. Then we did! Instead of creating a carbon copy.</p>
    </header>

    <div class="row gap-y text-center">

    <div class="col-lg-4 mb-3">
        <blockquote class="blockquote">
        <div><img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="..."></div>
        <br>
        <p class="small">When you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</p>
        <footer>Steve Jobs</footer>
        </blockquote>
    </div>

    <div class="col-lg-4 mb-3">
        <blockquote class="blockquote">
        <div><img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/2.jpg" alt="..."></div>
        <br>
        <p class="small">Design everything on the assumption that people are not heartless or stupid but marvelously capable, given the chance.</p>
        <footer>John Jones</footer>
        </blockquote>
    </div>

    <div class="col-lg-4 mb-3">
        <blockquote class="blockquote">
        <div><img class="avatar avatar-xl" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/3.jpg" alt="..."></div>
        <br>
        <p class="small">Technology is just a tool. In terms of getting the kids working together and motivating them, the teacher is the most important.</p>
        <footer>Bill Gates</footer>
        </blockquote>
    </div>

    </div>

</div>