<section class="section pt-5 pb-5 bg-img" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/18.jpg')">
    <div class="" style="background-image: linear-gradient(90deg, #fff 0%, transparent 100%);"></div>
    <div class="container">

        <div class="row">
        <div class="col-10 col-md-7 col-xl-5">
            <div class="section-dialog shadow-4">
            <h5 class="fw-500">Highly recommend this template</h5>
            <blockquote class="blockquote text-left lead-1 mb-0 mt-4">
                <p>All it harmonics; Such based to pity of and rank people brief three their time and the this the should service employed.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            </div>
        </div>
        </div>

    </div>
</section>