
<div class="row owl-carousel justify-content-center" id="owl-desc">
    <div class="">
        <div class="images-container-portrait">
            <img class="img-fit-cover h-100" src="https://m.media-amazon.com/images/M/MV5BMDBhMjFjNWEtYTJkYS00ZWY1LWI3ZTItOTMwZWY1ZThmMDliXkEyXkFqcGdeQXVyNTI5NjIyMw@@._V1_.jpg" style="width:100%;">
        </div>
        <p class="slider_hscrollable_wsquareimages_imagecaption font-weight-bold">Dalaw (2010)</p>
        <p class="img-desc px-vw-2">Directed By Dondon S. Santos</p>
    </div>
    <div class="">
        <div class="images-container-portrait">
            <img class="img-fit-cover h-100" src="https://upload.wikimedia.org/wikipedia/en/c/cd/The_Road_film_poster.jpg" style="width:100%;">
        </div>
        <p class="slider_hscrollable_wsquareimages_imagecaption font-weight-bold">The Road (20111)</p>
        <p class="img-desc px-vw-2">Directed By Yam Laranas</p>
    </div>
    <div class="">
        <div class="images-container-portrait">
            <img class="img-fit-cover h-100" src="https://m.media-amazon.com/images/M/MV5BMGJjNDAxYjQtNTFjMi00NjJkLThlYmEtMTllNjAyZGNmOWI1XkEyXkFqcGdeQXVyMjUyMDUyMTY@._V1_SY1000_CR0,0,691,1000_AL_.jpg" style="width:100%;">
        </div>
        <p class="slider_hscrollable_wsquareimages_imagecaption font-weight-bold">Aswang (2011)</p>
        <p class="img-desc px-vw-2">Directed By Jerrold Tarod</p>
    </div>
    <div class="">
        <div class="images-container-portrait">
            <img class="img-fit-cover h-100" src="https://images-na.ssl-images-amazon.com/images/I/81uS7rPnYlL._SX300_.jpg" style="width:100%;">
        </div>
        <p class="slider_hscrollable_wsquareimages_imagecaption font-weight-bold">Pridyider (2012)</p>
        <p class="img-desc px-vw-2">Directed By Rico Maria Ilarde</p>
    </div>
    <div class="">
        <div class="images-container-portrait">
            <img class="img-fit-cover h-100" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/The_Healing_%28film%29.jpg/220px-The_Healing_%28film%29.jpg" style="width:100%;">
        </div>
        <p class="slider_hscrollable_wsquareimages_imagecaption font-weight-bold">The Healing (2012)</p>
        <p class="img-desc px-vw-2">Directed By Chito S. Roño</p>
    </div>
    <div class="">
        <div class="images-container-portrait">
            <img class="img-fit-cover h-100" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/The_Strangers.jpg/220px-The_Strangers.jpg" style="width:100%;">
        </div>
        <p class="slider_hscrollable_wsquareimages_imagecaption font-weight-bold">The Strangers</p>
        <p class="img-desc pl-3 pr-3">Directed By Dondon S. Santos</p>
    </div>
</div>