<div class="volume_page bg-black">
  <div class="row">
    <div class="col-md-3 navbar_left_sticky_box_container">
        <ul class="nav flex-column navbar_left_sticky_box">
          <li class="nav-item">
            <a class="nav-link navbar_left_sticky_menuitem" href="#">Volumes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar_left_sticky_menuitem" href="#">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar_left_sticky_menuitem active" href="#">On this Day</a>
          </li>
        </ul>
    </div>
    <div class="col-md-9">
      <div class="section_title_container">
        <p class="section_title_text_onblack">On this day</p>
      </div>
      {% include components/cards/cards.html %}
    </div>
  </div>
</div>
