<ol class="step">
    <li class="step-item">
        <div class="step-icon">
        <span class="iconbox">1</span>
        </div>

        <div class="step-content">
        <h6><strong>Add the item to your cart</strong></h6>
        <p>Some quick example text to build the step content long enough for demo purpose.</p>
        </div>
    </li>

    <li class="step-item">
        <div class="step-icon">
        <span class="iconbox">2</span>
        </div>

        <div class="step-content">
        <h6><strong>Checkout your cart</strong></h6>
        <p>Some quick example text to build the step content long enough for demo purpose.</p>
        </div>
    </li>

    <li class="step-item">
        <div class="step-icon">
        <span class="iconbox">3</span>
        </div>

        <div class="step-content">
        <h6><strong>Receive the items at home</strong></h6>
        <p>Some quick example text to build the step content long enough for demo purpose.</p>
        </div>
    </li>
</ol>