<ol class="timeline">
    <li class="timeline-item">
        <h5>Launched our website</h5>
        <p class="small-2"><time datetime="2017-02-08">08 Feb 2017</time></p>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can from world.</p>
    </li>

    <li class="timeline-item">
        <h5>Got the first 100 users</h5>
        <p class="small-2"><time datetime="2017-08-17">17 Aug 2017</time></p>
        <p><img class="img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/6.jpg" alt="..."></p>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can from world.</p>
    </li>

    <li class="timeline-item">
        <h5>Raised $1.4 million in seed funding</h5>
        <p class="small-2"><time datetime="2018-03-26">26 Mar 2018</time></p>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can from world.</p>
    </li>

    <li class="timeline-item">
        <h5>Team size increased to 20</h5>
        <p class="small-2"><time datetime="2018-04-14">14 Apr 2018</time></p>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can from world.</p>
    </li>
</ol>