<ol class="timeline timeline-horizontal">
    <li class="timeline-item">
        <h6><strong>Step 1</strong></h6>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he even again.</p>
    </li>

    <li class="timeline-item">
        <h6><strong>Step 2</strong></h6>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he even again.</p>
    </li>

    <li class="timeline-item">
        <h6><strong>Step 3</strong></h6>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he even again.</p>
    </li>

    <li class="timeline-item">
        <h6><strong>Step 4</strong></h6>
        <p>Think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he even again.</p>
    </li>
</ol>
