<ol class="step">
    <li class="step-item">
        <div class="step-icon">
        <span class="iconbox"><i class="fa fa-shopping-cart"></i></span>
        </div>

        <div class="step-content">
        <h5>Step 1</h5>
        <p>Some quick example text to build the step content long enough for demo purpose.</p>
        </div>
    </li>

    <li class="step-item">
        <div class="step-icon">
        <span class="iconbox"><i class="fa fa-credit-card"></i></span>
        </div>

        <div class="step-content">
        <h5>Step 2</h5>
        <p>Some quick example text to build the step content long enough for demo purpose.</p>
        </div>
    </li>

    <li class="step-item">
        <div class="step-icon">
        <span class="iconbox"><i class="fa fa-truck"></i></span>
        </div>

        <div class="step-content">
        <h5>Step 3</h5>
        <p>Some quick example text to build the step content long enough for demo purpose.</p>
        </div>
    </li>
</ol>