<div class="gallery gallery-4-type4">
    <a class="gallery-item" href="#">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/1.jpg" alt="...">
    </a>
    <div class="gallery-item-group">
        <a class="gallery-item" href="#">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/2.jpg" alt="...">
        </a>
        <a class="gallery-item" href="#">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/3.jpg" alt="...">
        </a>
        <a class="gallery-item" href="#">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/4.jpg" alt="...">
        </a>
    </div>
</div>