<div class="form-group">
<label>Small</label>
<select class="form-control form-control-sm">
    <option>Personal</option>
    <option>Startup</option>
    <option>Business</option>
    <option>Enterprise</option>
</select>
</div>

<div class="form-group">
<label>Normal</label>
<select class="form-control">
    <option>Personal</option>
    <option>Startup</option>
    <option>Business</option>
    <option>Enterprise</option>
</select>
</div>

<div class="form-group">
<label>Large</label>
<select class="form-control form-control-lg">
    <option>Personal</option>
    <option>Startup</option>
    <option>Business</option>
    <option>Enterprise</option>
</select>
</div>