<div class="input-group input-group-form">
<div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-user"></i></span>
</div>
<input type="text" class="form-control" placeholder="Username">
</div>

<br>

<div class="input-group input-group-form">
<input type="text" class="form-control" placeholder="Email address">
<div class="input-group-append">
    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
</div>
</div>

<br>

<div class="input-group input-group-form">
<div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-facebook"></i></span>
</div>
<input type="text" class="form-control" placeholder="Facebook and twitter">
<div class="input-group-append">
    <span class="input-group-text"><i class="fa fa-twitter"></i></span>
</div>
</div>