<div class="input-group input-group-form input-group-lg">
<div class="input-group-prepend">
    <span class="input-group-text">@</span>
</div>
<input type="text" class="form-control" placeholder="Username">
</div>

<br>

<div class="input-group input-group-form">
<div class="input-group-prepend">
    <span class="input-group-text">@</span>
</div>
<input type="text" class="form-control" placeholder="Username">
</div>

<br>

<div class="input-group input-group-form input-group-sm">
<div class="input-group-prepend">
    <span class="input-group-text">@</span>
</div>
<input type="text" class="form-control" placeholder="Username">
</div>