<div class="input-group input-group-form is-valid">
<div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-check"></i></span>
</div>
<input type="text" class="form-control" value="Valid">
</div>
<div class="valid-feedback">Looks good.</div>

<br>

<div class="input-group input-group-form is-invalid">
<div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-close"></i></span>
</div>
<input type="text" class="form-control" value="Invalid">
</div>
<div class="invalid-feedback">Provide a valid value.</div>