<section class="section">
    <div class="container p-4">
        <header class="section-header">
        <small>Features</small>
        <h2>So Intuitive, So Easy</h2>
        <hr>
        <p class="lead">We are so excited and proud of our product. It's really easy to create a landing page for your awesome product.</p>
        </header>

        <div class="row gap-y text-center">

        <div class="col-md-6 col-xl-3 feature-1">
            <p class="lead-7 feature-icon text-primary"><i class="fa fa-mobile"></i></p>
            <h5>Responsive</h5>
            <p>Your landing page displays smoothly on any device: desktop, tablet or mobile.</p>
        </div>


        <div class="col-md-6 col-xl-3 feature-1">
            <p class="lead-7 feature-icon"><i class="fa fa-cogs"></i></p>
            <h5>Customizable</h5>
            <p>You can easily modify any block data to fits your need; image, title, text, etc.</p>
        </div>


        <div class="col-md-6 col-xl-3 feature-1">
            <p class="lead-7 feature-icon text-info"><i class="fa fa-pencil"></i></p>
            <h5>UI Kit</h5>
            <p>There is an extensive amount of UI elements and shortcodes to easily develop your blocks.</p>
        </div>


        <div class="col-md-6 col-xl-3 feature-1">
            <p class="lead-7 feature-icon text-warning"><i class="fa fa-puzzle-piece"></i></p>
            <h5>Lego Base</h5>
            <p>Designing a page is like playing with Lego! Just stack blocks above each other.</p>
        </div>

        </div>

    </div>
</section>