<div class="masonry-column-3">
    <div class="card masonry-item border-0 pb-0">
        <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/1/2/2349_ArchitectureandCommunityPlanning_2.jpg" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay p-0">
            <h5 class="card-title volume_tag_small text-white bg-maroon">Card title</h5>
        </div>
    </div>
    
    <div class="card masonry-item border-0 pb-0">
        <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/2/10/A_HA_BaguioHeritageArea_2.jpg" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay p-0">
            <h5 class="card-title volume_tag_small text-white bg-gold">Card title</h5>
        </div>
    </div>
    <div class="card masonry-item border-0 pb-0">
        <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/4/20/F_HE_Phil1897_1.jpg" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay p-0">
            <h5 class="card-title volume_tag_small text-white bg-navy-blue">Card title</h5>
        </div>
    </div>
    
    <div class="card masonry-item border-0 pb-0">
            <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/1/2/2349_ArchitectureandCommunityPlanning_2.jpg" class="card-img rounded-0" alt="...">
            <div class="card-img-overlay p-0">
                <h5 class="card-title volume_tag_small text-white bg-maroon">Card title</h5>
            </div>
        </div>
        <div class="card masonry-item border-0 pb-0">
                <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/2/10/A_HA_BaguioHeritageArea_2.jpg" class="card-img rounded-0" alt="...">
                <div class="card-img-overlay p-0">
                    <h5 class="card-title volume_tag_small text-white bg-gold">Card title</h5>
                </div>
            </div>
            <div class="card masonry-item border-0 pb-0">
                    <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/4/20/F_HE_Phil1897_1.jpg" class="card-img rounded-0" alt="...">
                    <div class="card-img-overlay p-0">
                        <h5 class="card-title volume_tag_small text-white bg-navy-blue">Card title</h5>
                    </div>
                </div>
</div>