<div class="col-md-3 navbar_left_sticky_box_container sidebar-sticky" id="spy">
    <ul class="nav flex-column navbar_left_sticky_box">
    <li class="nav-item">
        <a class="nav-link navbar_left_sticky_menuitem active" href="#volumes">Volumes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar_left_sticky_menuitem" href="#featured">Featured</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar_left_sticky_menuitem" href="#onthisday">On this Day</a>
    </li>
    </ul>
</div>
 