<section class="section p-5">
    <div class="container">
        <header class="section-header">
        <h2>Partners</h2>
        <hr>
        <p class="lead">Join thousands of satisfied customers using our template globally.</p>
        </header>

        <div class="row gap-y partner">
        <div class="col-6 col-md-3">
            <img class="m-0" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/1.png" alt="partner 1">
        </div>

        <div class="col-6 col-md-3">
            <img class="m-0" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/2.png" alt="partner 2">
        </div>

        <div class="col-6 col-md-3">
            <img class="m-0" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/3.png" alt="partner 3">
        </div>

        <div class="col-6 col-md-3">
            <img class="m-0" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/4.png" alt="partner 4">
        </div>
        </div>

    </div>
</section>