<section class="section p-3">
    <div class="container">

        <div class="partner partner-sm">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/1.png" alt="partner 1">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/2.png" alt="partner 2">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/3.png" alt="partner 3">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/4.png" alt="partner 4">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/5.png" alt="partner 5">
        <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/partner/6.png" alt="partner 6">
        </div>

    </div>
</section>