.color-bg-black {
  background-color: #000000; }

.color-bg-white {
  background-color: #ffffff; }

.color-bg-dark-grey {
  background-color: #343a40; }

.color-bg-light-grey {
  background-color: #d5d8dd; }

.line-color-black {
  border-color: #000000; }

.line-color-white {
  border-color: #ffffff; }

.line-color-dark-grey {
  border-color: #343a40; }

.line-color-light-grey {
  border-color: #d5d8dd; }

.line-color-gold {
  border-color: #b69530; }

.full-screen-width {
  width: 100vw; }

.full-screen-height {
  height: 100vh; }

.screen-full-screen {
  width: 100vw;
  height: 100vh; }

.margin-0 {
  margin: 0; }

.margin-tight {
  margin: 0.5rem; }

.margin-narrow {
  margin: 1rem; }

.margin-medium {
  margin: 2rem; }

.margin-wide {
  margin: 5rem; }

.font-serif-Frank {
  font-family: "Frank Ruhl Libre"; }

.font-sans-serif-Roboto {
  font-family: "Roboto"; }

.small-1 {
  font-size: 0.87891rem !important; }

.small-2 {
  font-size: 0.87891rem !important; }

.small-3 {
  font-size: 0.76172rem !important; }

.small-4 {
  font-size: 0.70313rem !important; }

.small-5 {
  font-size: 0.64453rem !important; }

.small-6 {
  font-size: 0.58594rem !important; }

.small-7 {
  font-size: 0.52734rem !important; }

.small-8 {
  font-size: 0.46875rem !important; }

.small-9 {
  font-size: 0.41016rem !important; }

.lead-1 {
  font-size: 1.05469rem !important; }

.lead-2 {
  font-size: 1.17188rem !important; }

.lead-3 {
  font-size: 1.40625rem !important; }

.lead-4 {
  font-size: 1.64063rem !important; }

.lead-5 {
  font-size: 1.875rem !important; }

.lead-6 {
  font-size: 2.34375rem !important; }

.lead-7 {
  font-size: 3.04688rem !important; }

.lead-8 {
  font-size: 3.75rem !important; }

.lead-9 {
  font-size: 4.6875rem !important; }

.text-list-header-dark {
  font-family: "Roboto";
  color: #343a40;
  font-size: 0.87891rem;
  font-weight: bolder;
  text-align: left;
  line-height: 3.5vh;
  letter-spacing: 0.2rem; }

.text-list-header-light {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 0.87891rem;
  font-weight: bolder;
  text-align: left;
  line-height: 3.5vh;
  letter-spacing: 0.2rem; }

.text-list-item-dark {
  font-family: "Roboto";
  color: #6c757d;
  font-size: 0.87891rem;
  text-align: left;
  line-height: 3.5vh;
  letter-spacing: 0.1rem; }

.text-list-item-light {
  font-family: "Roboto";
  color: #d5d8dd;
  font-size: 0.87891rem;
  text-align: left;
  line-height: 3.5vh;
  letter-spacing: 0.1rem; }

.gradient-linear-bottom-dark {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), black); }

.gradient-linear-bottom-light {
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); }

.button-hollow-white {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
  font-weight: bolder; }

.button-hollow-black {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 0;
  font-weight: bolder; }

.button-hollow-gold {
  color: #b69530;
  border: 2px solid #b69530;
  border-radius: 0;
  font-weight: bolder; }

.button-solid-white {
  color: #000000;
  border-radius: 0;
  border: none;
  background-color: #ffffff;
  letter-spacing: 0.1rem; }

.button-solid-black {
  color: #ffffff;
  border-radius: 0;
  border: none;
  background-color: #000000;
  letter-spacing: 0.1rem; }

.button-solid-gold {
  color: #ffffff;
  border-radius: 0;
  border: none;
  background-color: #b69530;
  letter-spacing: 0.1rem; }

.navbar-dark-border-bottom {
  background-color: black;
  border-bottom: 5px solid #b69530;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1rem; }

.navbar-dark-active {
  color: #b69530; }

.navbar-dark-inactive {
  color: #ffffff; }

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 2; }

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 2; }

.sidebar-left-border-right {
  align-items: flex-end;
  border-right: 5px solid #b69530;
  display: block;
  padding: 0.5rem 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2rem; }

.sidebar-left-active {
  color: #b69530; }

.sidebar-left-inactive {
  color: #ffffff; }

.content-block-full-row {
  margin-right: auto;
  margin-left: auto; }

.content-block-header {
  font-family: "Frank Ruhl Libre";
  font-size: 2.34375rem;
  font-weight: 500;
  line-height: 5.5vh; }

.title-overlay-right {
  text-align: right;
  margin-bottom: 0.5rem; }

.title-overlay-left {
  text-align: left;
  margin-bottom: 0.5rem; }

.title-overlay-center {
  text-align: center;
  margin-bottom: 0.5rem; }

.title-overlay-primary-big {
  font-family: "Frank Ruhl Libre";
  font-size: 2.34375rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.title-overlay-primary-medium {
  font-family: "Frank Ruhl Libre";
  font-size: 1.05469rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.title-overlay-primary-small {
  font-family: "Frank Ruhl Libre";
  font-size: 0.87891rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.title-overlay-secondary-big {
  font-family: "Roboto";
  font-size: 2.34375rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.title-overlay-secondary-medium {
  font-family: "Roboto";
  font-size: 1.05469rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.title-overlay-secondary-small {
  font-family: "Roboto";
  font-size: 0.87891rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

/* 
    ##Device = TV
    ##Screen = 1921px to higher resolution TV screens
*/
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

/*# sourceMappingURL=style.css.map */
