<div class="w-60 m-auto">
    <div id="carouselTextOverlay" class="carousel slide" data-ride="carousel" data-interval="false">  
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 500px;">
                    <div class="position-relative">
                        <img class="" src="https://doc-0k-as-docs.googleusercontent.com/docs/securesc/j6q3pdch2r2d719tltat665kvod2o662/jbhjupsf62t95i7hrn150os19bfrtpqk/1574935200000/17569943954608432305/08789768308322214866/1SBCzB7jz-9erAH-BB_DHjkkXp8FPzRwt?authuser=0" style="width:100%;">
                        <div class="img-middle-right-overlay text-right">
                                <div class="row">
                                <div class="col-md-6 offset-md-6">
                                    <h2 class="font-title-frank bg-gold pl-3 pr-3 opacity-light text-uppercase d-inline-block mb-0">Vol1</h2>
                                    
                                    <div class="">
                                        <h1 class="banner_header_onimage_right">Peoples of the Philippines</h1>
                                    </div>
                                    
                                    <button type="button" class="btn btn rounded-0 text-white bg-gold">Show Another Event <i class="fa fa-caret-right"></i> </button>
                                    
                                    <!-- <button type="button" class="btn btn-pointed-right btn-outline-dark text-white rounded-0 card_button_ondarkoverlay bg-gold-opacity">Show Another Event</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="height: 500px;">
                    <img class="" src="https://doc-0g-as-docs.googleusercontent.com/docs/securesc/j6q3pdch2r2d719tltat665kvod2o662/ktn14gkkj80lgbnriluki2heaku8vkvm/1574935200000/17569943954608432305/08789768308322214866/1mcQIZCPIh7TdwIN3YIV9zZdRbHfD9rLr?authuser=0" style="width:100%;">
                    <div class="img-middle-right-overlay text-right">
                            <div class="row">
                            <div class="col-md-6 offset-md-6">
                                <h2 class="font-title-frank bg-gold pl-3 pr-3 opacity-light text-uppercase d-inline-block mb-0">Vol1</h2>
                                
                                <div class="">
                                    <h1 class="banner_header_onimage_right">Peoples of the Philippines</h1>
                                </div>
                                
                                <button type="button" class="btn btn rounded-0 text-white bg-gold">Show Another Event <i class="fa fa-caret-right"></i> </button>
                                
                                <!-- <button type="button" class="btn btn-pointed-right btn-outline-dark text-white rounded-0 card_button_ondarkoverlay bg-gold-opacity">Show Another Event</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="height: 500px;">
                        <img class="" src="https://doc-0s-as-docs.googleusercontent.com/docs/securesc/j6q3pdch2r2d719tltat665kvod2o662/bkn5l2bj194e07io7enc5oe7gf82mi40/1574935200000/17569943954608432305/08789768308322214866/1kisZ8IjNnTkcN0TRG4elcK33t7WCWHzD?authuser=0" style="width:100%;">
                        <div class="img-middle-right-overlay text-right">
                                <div class="row">
                                <div class="col-md-6 offset-md-6">
                                    <h2 class="font-title-frank bg-gold pl-3 pr-3 opacity-light text-uppercase d-inline-block mb-0">Vol1</h2>
                                    
                                    <div class="">
                                        <h1 class="banner_header_onimage_right">Peoples of the Philippines</h1>
                                    </div>
                                    
                                    <button type="button" class="btn btn rounded-0 text-white bg-gold">Show Another Event <i class="fa fa-caret-right"></i> </button>
                                    
                                    <!-- <button type="button" class="btn btn-pointed-right btn-outline-dark text-white rounded-0 card_button_ondarkoverlay bg-gold-opacity">Show Another Event</button> -->
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                
                <!-- <a class="carousel-control-prev" href="#carouselTextOverlay" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselTextOverlay" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a> -->
        
                
            <ol class="carousel-indicators ml-0 mr-0 mb-0 linear-dark-bg-bottom pb-3">
                <div class="owl-carousel" id="owl-bottom-overlay-indicators" >
                    <div class="images-container-landscape m-3">
                        <div class="owl-images-container item-carousel">
                            <li data-target="#carouselTextOverlay" data-slide-to="0" class="active" style="opacity: unset;">
                                <img class="image_bottom_text" src="https://doc-0k-as-docs.googleusercontent.com/docs/securesc/j6q3pdch2r2d719tltat665kvod2o662/jbhjupsf62t95i7hrn150os19bfrtpqk/1574935200000/17569943954608432305/08789768308322214866/1SBCzB7jz-9erAH-BB_DHjkkXp8FPzRwt?authuser=0" style="width:100%; height: 75px;">
                                <div class="slider_hscrollable_wsquareimages_tag_topleft">
                                    <div class="input-group volume_tag_small_bottom_container">
                                        <div>
                                            <h5 class="card-title volume_tag_small_bottom bg-gold pl-3">1</h5>
                                        </div>
                                        <div>
                                            <h5 class="card-title volume_tag_small_bottom bg-black-opacity pl-3">Bottom Left</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="images-container-landscape m-3">
                        <div class="owl-images-container item-carousel">
                            <li data-target="#carouselTextOverlay" class="active" data-slide-to="1" style="opacity: unset;" >
                                <img class="image_bottom_text" src="https://doc-0g-as-docs.googleusercontent.com/docs/securesc/j6q3pdch2r2d719tltat665kvod2o662/ktn14gkkj80lgbnriluki2heaku8vkvm/1574935200000/17569943954608432305/08789768308322214866/1mcQIZCPIh7TdwIN3YIV9zZdRbHfD9rLr?authuser=0" style="width:100%; height: 75px;">
                                <div class="slider_hscrollable_wsquareimages_tag_topleft">
                                    <div class="input-group volume_tag_small_bottom_container">
                                        <div>
                                            <h5 class="card-title volume_tag_small_bottom bg-gold pl-3">1</h5>
                                        </div>
                                        <div>
                                            <h5 class="card-title volume_tag_small_bottom bg-black-opacity pl-3">Bottom Left</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="images-container-landscape m-3">
                    <div class="owl-images-container item-carousel" > 
                        <li data-target="#carouselTextOverlay" class="active" data-slide-to="2" style="opacity: unset;" >
                            <img class="image_bottom_text" src="https://doc-0s-as-docs.googleusercontent.com/docs/securesc/j6q3pdch2r2d719tltat665kvod2o662/bkn5l2bj194e07io7enc5oe7gf82mi40/1574935200000/17569943954608432305/08789768308322214866/1kisZ8IjNnTkcN0TRG4elcK33t7WCWHzD?authuser=0" style="width:100%; height: 75px;">
                            <div class="slider_hscrollable_wsquareimages_tag_topleft">
                                    <div class="input-group volume_tag_small_bottom_container">
                                        <div>
                                            <h5 class="card-title volume_tag_small_bottom bg-gold pl-3">1</h5>
                                        </div>
                                        <div>
                                            <h5 class="card-title volume_tag_small_bottom bg-black-opacity pl-3">Bottom Left</h5>
                                        </div>
                                    </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </ol>
    </div>
</div>