<section class="text-white bg-img-bottom bg-img p-5" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/2.jpg')" data-overlay="7">
    <div class="container text-center">
        <div class="position-relative">
            <h2>News and Updates</h2>
            <br>
            <p class="lead">Subscribe to our newsletter and receive the latest news from TheThemeio.</p>
        
            <br><br>
        </div>
      

      <form class="input-glass" action="" method="post" target="_blank">
        <div class="form-row">
          <div class="col-md-4 ml-auto mb-4 mb-md-0">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="email" name="EMAIL" class="form-control rounded-0 small-2 text-white text-uppercase ls-15 pr-4 pl-4" placeholder="Email Address">
            </div>
          </div>

          <div class="col-md-2 mr-auto">
            <button class="btn btn-block btn-lg btn-primary rounded-0 small-2 text-white text-uppercase ls-15 pr-4 pl-4">Subscribe</button>
          </div>
        </div>
      </form>

      <br><br><br>

      <div class="social social-light social-bg-dark text-center">
        <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
        <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
      </div>

    </div>
  </section>