<section class="section text-white pt-5 pb-5" style="background-color: #56a9ef;">
    <div class="container text-center">

        <p class="small-4 text-uppercase ls-2 fw-600 opacity-70">Stay up-to-date</p>
        <h2>Ready to get started?</h2>

        <div class="row mt-5">
        <form class="col-md-8 col-xl-5 input-glass mx-auto" action="" method="post" target="_blank">
            <div class="input-group input-group-lg1">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" name="EMAIL" class="form-control" placeholder="Enter Your Email">
            <span class="input-group-append">
                <button class="btn btn-light small-2 text-uppercase ls-15 pr-4 pl-4">Subscribe</button>
            </span>
            </div>
        </form>
        </div>

    </div>
</section>