<footer class="bd-footer text-muted bg-black text-white">
    <div class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="mb-3 img-logo">
                        <a href="https://mobirise.com/">
                            <img src="http://placehold.it/150x50?text=Logo" alt="">
                        </a>
                    </div>
                    <p class="mb-3 display-7">
                        Footer Template
                    </p>
                    <p class="display-7">
                        <a><p> About Us</p></a>
                        <a><p> Services </p></a>
                        <a><p> Selected Work </p></a>
                        <a><p> Get In Touch </p></a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-8">
                    <p class="mb-4 display-7">Recent News</p>
                    <p class="display-7">
                        Footer with solid color background and a contact form, Easily add subscribe and contact forms without any server-side integration.
                        <br/> <br/>
                        Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface.
                    </p>
                </div>
                <div class="col-md-4 offset-md-1 col-sm-12">
                    <p class="mb-4 display-7">Subscribe</p>
                    <p class="display-7"> Get monthly updates and free resources.</p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="display-7 border-top-gold-light"> © Copyright 2019 Footer Template - All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>