<!-- Section/Volumes -->
<div class="volume_page bg-black">
  <div class="row">
    <div class="col-md-3 navbar_left_sticky_box_container">
        <ul class="nav flex-column navbar_left_sticky_box">
          <li class="nav-item">
            <a class="nav-link navbar_left_sticky_menuitem active" href="#">Volumes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar_left_sticky_menuitem" href="#">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar_left_sticky_menuitem" href="#">On this Day</a>
          </li>
        </ul>
    </div>
    <div class="col-12 col-md-9">
      <div class="section_title_container">
        <p class="section_title_text_onblack">Section</p>
      </div>
      <div class="homesection_volumeslist">
          <div class="card bg-dark text-white tile_withimage_horizontal mb-2 rounded-0">
              <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/1/2/2349_ArchitectureandCommunityPlanning_2.jpg" class="card-img volume_horizonal_image rounded-0" alt="...">
              <div class="card-img-overlay text-right">
                <h2 class="card-title font-weight-light mb-0">Volume</h2>
                <h1 class="card-text mb-0 display-3 font-weight-bold">1</h1>
                <p class="card-text tile_withimage_horizontal_subtitle">Peoples of the Philippines</p>
              </div>
          </div>
          <div class="card bg-dark text-white tile_withimage_horizontal mb-2 rounded-0">
              <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/2/10/A_HA_CarcarPoblacion_6.jpg" class="card-img volume_horizonal_image rounded-0" alt="...">
              <div class="card-img-overlay text-right">
                <h2 class="card-title font-weight-light mb-0">Volume</h2>
                <h1 class="card-text mb-0 display-3 font-weight-bold">2</h1>
                <p class="card-text tile_withimage_horizontal_subtitle">Architecture</p>
              </div>
          </div>
          <div class="card bg-dark text-white tile_withimage_horizontal mb-2 rounded-0">
              <img src="https://ccp-epa.s3-ap-southeast-1.amazonaws.com/photo/2/10/A_HA_BaguioHeritageArea_2.jpg" class="card-img volume_horizonal_image rounded-0" alt="...">
              <div class="card-img-overlay text-right">
                <h2 class="card-title font-weight-light mb-0">Volume</h2>
                <h1 class="card-text mb-0 display-3 font-weight-bold">3</h1>
                <p class="card-text tile_withimage_horizontal_subtitle">Visual Arts</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>