<footer class="bd-footer text-muted bg-black text-white">
    <div class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="text-uppercase text-white"><b>Volumes</b></p>
                    <p>Peoples of the Philippines</p>
                    <p>Architecture</p>
                    <p>Visual Arts</p>
                    <p>Film</p>
                    <p>Music</p>
                    <p>Dance</p>
                    <p>Theater</p>
                    <p>Broadcast Arts</p>
                    <p>Literature</p>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <p class="text-uppercase text-white"><b>Footer Menu 1</b></p>
                        <p>Menu Item 1</p>
                        <p>Menu Item 2</p>
                        <p>Menu Item 3</p>
                    </div>
                    <div class="mb-3">
                        <p class="text-uppercase text-white"><b>Footer Menu 2</b></p>
                        <p>Menu Item 1</p>
                        <p>Menu Item 2</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="text-uppercase text-white"><b>Follow Us</b></p>
                </div>
            </div>
        </div>
    </div>
</footer>