
<div class="row gap-y">
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card border hover-shadow-6">
        <a href="#"><img class="card-img-top" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/5.jpg" alt="Card image cap"></a>
        <div class="p-4 text-center">
            <p><a class="small-5 text-secondary text-uppercase ls-25" href="#">News</a></p>
            <h5 class=""><a class="text-dark" href="#">We relocated our office to a new designed garage</a></h5>
        </div>
        </div>
    </div>


    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card border hover-shadow-6">
        <a href="#"><img class="card-img-top" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/5.jpg" alt="Card image cap"></a>
        <div class="p-4 text-center">
            <p><a class="small-5 text-secondary text-uppercase ls-25" href="#">Marketing</a></p>
            <h5 class=""><a class="text-dark" href="#">Top 5 brilliant content marketing strategies</a></h5>
        </div>
        </div>
    </div>


    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card border hover-shadow-6">
        <a href="#"><img class="card-img-top" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/5.jpg" alt="Card image cap"></a>
        <div class="p-4 text-center">
            <p><a class="small-5 text-secondary text-uppercase ls-25" href="#">Design</a></p>
            <h5 class=""><a class="text-dark" href="#">Best practices for minimalist design with example</a></h5>
        </div>
        </div>
    </div>
</div>