<div class="row gap-y">

    <div class="col-lg-4 mb-3">
        <div class="card card-inverse">
        <div class="card-body">
            <h6 class="card-title fw-500">How to add new block to page builder</h6>
            <p class="small-1">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on.</p>
            <a class="text-primary small-3 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
        </div>
        </div>
    </div>


    <div class="col-lg-4 mb-3">
        <div class="card card-inverse">
        <div class="card-body">
            <h6 class="card-title fw-500">Create block with different styles</h6>
            <p class="small-1">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on.</p>
            <a class="text-primary small-3 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
        </div>
        </div>
    </div>


    <div class="col-lg-4 mb-3">
        <div class="card card-inverse">
        <div class="card-body">
            <h6 class="card-title fw-500">How to update the template</h6>
            <p class="small-1">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on.</p>
            <a class="text-primary small-3 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
        </div>
        </div>
    </div>

</div>

