<button class="btn btn-primary w-175 btn-popup" type="button" data-toggle="popup-top-right" data-target="#popup-top-right">Top right</button>

<div id="popup-top-right" class="popup popup-top-right col-6 col-md-4 collapse" data-position="top-right">
    <button type="button" class="close" data-dismiss="popup" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="media ">
        <img class="avatar mr-5" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/avatar/1.jpg" alt="avatar">
        <div class="media-body">
        <h5>Top Right</h5>
        <p class="mb-0">We'd like to welcome you to our website and hope you have a great time browsing our template.</p>
        </div>
    </div>
</div>