<section class="section">
    <div class="container p-4">
        <header class="section-header">
        <small>Categories</small>
        <h2>Browser Top Projects</h2>
        <hr>
        <p class="lead">It's really easy to create a landing page for your awesome product.</p>
        </header>


        <div class="row gap-y">

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/17.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-wordpress lead-5 opacity-70"></i></p>
                <h5 class="mb-0">WordPress</h5>
                <small class="opacity-70">139 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/7.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-code lead-5 opacity-70"></i></p>
                <h5 class="mb-0">PHP</h5>
                <small class="opacity-70">218 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/16.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-database lead-5 opacity-70"></i></p>
                <h5 class="mb-0">Data Entry</h5>
                <small class="opacity-70">57 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/4.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-android lead-5 opacity-70"></i></p>
                <h5 class="mb-0">Android</h5>
                <small class="opacity-70">94 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/6.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-line-chart lead-5 opacity-70"></i></p>
                <h5 class="mb-0">Marketing</h5>
                <small class="opacity-70">27 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/5.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-globe lead-5 opacity-70"></i></p>
                <h5 class="mb-0">Translation</h5>
                <small class="opacity-70">43 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/10.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-paint-brush lead-5 opacity-70"></i></p>
                <h5 class="mb-0">Design</h5>
                <small class="opacity-70">139 Projects</small>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <a class="card text-white text-center bg-img py-6" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/18.jpg');" data-overlay="7">
            <div class="position-relative m-4">
                <p><i class="fa fa-folder-open lead-5 opacity-70"></i></p>
                <h5 class="mb-0">See All</h5>
                <small class="opacity-70">25 Categories</small>
            </div>
            </a>
        </div>

        </div>
    </div>
</section>