<div class="container p-4">
    <header class="section-header">
    <small>Features</small>
    <h2>Unique Factors</h2>
    <hr>
    <p class="lead">It's really easy to create a landing page for your awesome product.</p>
    </header>


    <div class="row gap-y">

    <div class="col-md-6 col-lg-4 mb-4">
        <a class="card card-body border hover-shadow-6 text-center py-6 text-black" href="#">
        <p><i class="fa fa-mobile lead-6 text-muted"></i></p>
        <h5 class="mb-0">Responsive</h5>
        </a>
    </div>


    <div class="col-md-6 col-lg-4 mb-4">
        <a class="card card-body border hover-shadow-6 text-center py-6 text-black" href="#">
        <p><i class="fa fa-cogs lead-6 text-muted"></i></p>
        <h5 class="mb-0">Customizable</h5>
        </a>
    </div>


    <div class="col-md-6 col-lg-4 mb-4">
        <a class="card card-body border hover-shadow-6 text-center py-6 text-black" href="#">
        <p><i class="fa fa-pencil lead-6 text-muted"></i></p>
        <h5 class="mb-0">UI Elements</h5>
        </a>
    </div>

    </div>
</div>