<section class="section">
    <div class="container p-4">
        <header class="section-header">
        <small>Offices</small>
        <h2>Our Locations</h2>
        <hr>
        <p class="lead">It's really easy to create a landing page for your awesome product.</p>
        </header>


        <div class="row gap-y">

        <div class="col-md-6 col-lg-3">
            <a class="card text-white text-center bg-img pt-5 pb-5 mb-2" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/12.jpg');">
            <div class="overlay" style="background-color: #0c4b63"></div>
            <div class="position-relative">
                <h3 class="fw-500 mb-0">New York</h3>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a class="card text-white text-center bg-img pt-5 pb-5 mb-2" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/13.jpg');">
            <div class="overlay" style="background-color: #4a080d"></div>
            <div class="position-relative">
                <h3 class="fw-500 mb-0">Toronto</h3>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a class="card text-white text-center bg-img pt-5 pb-5 mb-2" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/14.jpg');">
            <div class="overlay" style="background-color: #544603"></div>
            <div class="position-relative">
                <h3 class="fw-500 mb-0">London</h3>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a class="card text-white text-center bg-img pt-5 pb-5 mb-2" href="#" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/15.jpg');">
            <div class="overlay" style="background-color: #400354"></div>
            <div class="position-relative">
                <h3 class="fw-500 mb-0">Tokyo</h3>
            </div>
            </a>
        </div>


        </div>
    </div>
</section>