<div class="input-group mb-3">
    <input type="text" class="form-control rounded-0 border-0 bg-dark text-white font-roboto font-weight-normal" placeholder="Search artworks, artists, articles..." aria-label="Search artworks, artists, articles..." aria-describedby="basic-addon2">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary rounded-0 border-0 bg-secondary text-white" type="button"><i class="fa fa-search"></i></button>
    </div>
</div>

<div class="input-group mb-3 banner_search">
    <input type="text" class="form-control rounded-0 border-0 bg-dark input-searchbar text-white font-roboto font-weight-normal" placeholder="Search artworks, artists, articles..." aria-label="Search artworks, artists, articles..." aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary rounded-0 border-0 bg-secondary text-white input-searchbar" type="button"><i class="fa fa-search"></i></button>
    </div>
</div>