<div class="text-center">
    <span class="iconbox text-primary">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-success">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-info">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-warning">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-danger">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-dark">
        <i class="fa fa-star"></i>
    </span>
</div>
<br>

<div class="text-center">
    <span class="iconbox text-white bg-primary">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-white bg-success">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-white bg-info">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-white bg-warning">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-white bg-danger">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox text-white bg-dark">
        <i class="fa fa-star"></i>
    </span>
</div>