<div class="text-center">
    <span class="iconbox iconbox-sq iconbox-xs">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-sq iconbox-sm">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-sq">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-sq iconbox-lg">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-sq iconbox-xl">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-sq iconbox-xxl">
        <i class="fa fa-star"></i>
    </span>
</div>