<div class="text-center">
    <span class="iconbox iconbox-outline iconbox-xs">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-outline iconbox-sm">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-outline">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-outline iconbox-lg">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-outline iconbox-xl">
        <i class="fa fa-star"></i>
    </span>

    <span class="iconbox iconbox-outline iconbox-xxl">
        <i class="fa fa-star"></i>
    </span>
</div>