<section class="section p-4" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/thumb/17.jpg')" data-overlay="6">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xl-6 mx-auto">

        <div class="p-5 bg-dark text-white text-center">
          <p><img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/logo-light.png" alt="logo"></p>
          <br>
          <h2 class="mb-5">Download now</h2>
          <p>Prepared is me marianne pleasure likewise debating. Wonder an unable except better stairs do ye admire.</p>

          <hr class="w-10">

          <div class="rating">
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
            <label class="fa fa-star active"></label>
          </div>
          <p><small>Based on 3,000+ reviews</small></p>

          <div class="text-center gap-xy-2 mt-6">
            <a href="#"><img class="img-fadein" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/app/badge-apple.png" alt="download on app store"></a>
            <a href="#"><img class="img-fadein" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/app/badge-google.png" alt="download on google play"></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>