<section class="section text-white overflow-hidden" style="background-image: linear-gradient(135deg, #6f86d6 0%, #48c6ef 100%);">
    <canvas class="constellation" data-radius="0"></canvas>
    <div class="container">
        <div class="row">

        <div class="col-md-6 align-self-center text-center text-md-left mb-7 mb-md-0 mb-3">
            <h2>Get a ride</h2>
            <p class="lead">As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet one since.</p>

            <div class="gap-xy-2 mt-5">
            <a class="btn btn-xl small-2 text-secondary text-uppercase ls-15 btn-round btn-light pr-4 pl-4 mb-2" href="#"><i class="fa fa-apple lead-1 mr-2"></i> App Store</a>
            <a class="btn btn-xl small-2 text-secondary text-uppercase ls-15 btn-round btn-light pr-4 pl-4 mb-2" href="#"><i class="fa fa-android lead-1 mr-2"></i> Google Play</a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <img class="img-mx-width" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/vector/15.png" alt="...">
        </div>

        </div>
    </div>
</section>