<h6 class="divider"><code>.lead</code></h6>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>


<h6 class="divider mt-7"><code>&lt;p></code></h6>
<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>


<h6 class="divider mt-7"><code>&lt;small></code></h6>
<p class="small">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>