<dl class="row">
    <dt class="col-3"><code>&lt;mark&gt;</code></dt>
    <dd class="col-9">You can use the mark badge to <mark>highlight</mark> text.</dd>

    <dt class="col-3"><code>&lt;del&gt;</code></dt>
    <dd class="col-9"><del>This line of text is meant to be treated as deleted text.</del></dd>

    <dt class="col-3"><code>&lt;s&gt;</code></dt>
    <dd class="col-9"><s>This line of text is meant to be treated as no longer accurate.</s></dd>

    <dt class="col-3"><code>&lt;ins&gt;</code></dt>
    <dd class="col-9"><ins>This line of text is an addition to the document.</ins></dd>

    <dt class="col-3"><code>&lt;u&gt;</code></dt>
    <dd class="col-9"><u>This line of text will render as underlined</u></dd>

    <dt class="col-3"><code>&lt;small&gt;</code></dt>
    <dd class="col-9"><small>This line of text is meant to be treated as fine print.</small></dd>

    <dt class="col-3"><code>&lt;strong&gt;</code></dt>
    <dd class="col-9"><strong>This line rendered as bold text.</strong></dd>

    <dt class="col-3"><code>&lt;em&gt;</code></dt>
    <dd class="col-9"><em>This line rendered as italicized text.</em></dd>
</dl>