<div class="col-lg-6">
    <h6 class="mb-4">Unordered list - <code>&lt;ul></code></h6>
    <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
    </ul>
    </div>


    <div class="col-lg-6">
    <h6 class="mb-4">Ordered list - <code>&lt;ol></code></h6>
    <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
    </ol>
    </div>

    <div class="col-lg-6">
    <h6 class="mb-4">Icon list</h6>
    <ul class="list-unstyled">
        <li><i class="fa fa-check text-success mr-2"></i> Lorem ipsum dolor sit amet</li>
        <li><i class="fa fa-check text-success mr-2"></i> Consectetur adipiscing elit</li>
        <li><i class="fa fa-check text-success mr-2"></i> Integer molestie lorem at massa</li>
        <li><i class="fa fa-check text-success mr-2"></i> Facilisis in pretium nisl aliquet</li>
    </ul>
    </div>

    <div class="col-lg-6">
    <h6 class="mb-4">Unstyled</h6>
    <ul class="list-unstyled">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
    </ul>
</div>