<div class="accordion accordion-connected" id="accordion-2">
    <div class="card">
        <h5 class="card-title">
        <a data-toggle="collapse" href="#collapse-2-1">Is this a secure site for purchases?</a>
        </h5>

        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
        <div class="card-body">
            Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
        </div>
        </div>
    </div>


    <div class="card">
        <h5 class="card-title">
        <a class="collapsed" data-toggle="collapse" href="#collapse-2-2">How long are your contracts?</a>
        </h5>

        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
        <div class="card-body">
            Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
        </div>
        </div>
    </div>


    <div class="card">
        <h5 class="card-title">
        <a class="collapsed" data-toggle="collapse" href="#collapse-2-3">Can I cancel my subscription?</a>
        </h5>

        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
        <div class="card-body">
            You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
        </div>
        </div>
    </div>
</div>