<section class="section bg-img pb-5 pt-5" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/1.jpg')" data-overlay="5">
    <div class="container"> 
        <div class="row gap-y">

            <div class="col-12 col-md-12 mx-auto mx-md-0">
                <h2 class="text-white text-center">Get started free</h2>
                <p class="text-white text-center opacity-70 lead">Start to explore our product absolutely free.</p>
                <br>

                <form class="col-11 col-md-6 col-xl-5 mx-auto section-dialog bg-gray p-5 p-md-7">
                    <div class="form-group input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name">
                    </div>
        
                    <div class="form-group input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope-o fa-fw"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email">
                    </div>
        
                    <div class="form-group input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password">
                    </div>
        
                    <button class="btn btn-block btn-lg btn-success">Get started</button>
                </form>
            </div> 
        </div>
    </div>
</section>