<section class="section text-white overflow-hidden py-0 bg-img" style="background-image: url('{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bg/2.jpg')">
    <div class="container-fluid p-0">
        <div class="row">

        <div class="col-md-6 pt-5 pb-5" data-overlay="1">

            <form class="row gap-y input-glass">
            <div class="col-10 mx-auto">
                <h2 class="text-center p-3">Start Using TheSaaS Now!</h2>
                <p class="lead text-center">State the behavioural and writing name ports, the vanished like divided palace of stairs of its to in scale presented.</p>
                <br><br>

                <div class="form-group">
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="Your Name">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="Your Email">
                </div>

                <button class="btn btn-lg btn-block btn-success rounded-0">Get Started</button>

            </div>
            </form>

        </div>

        </div>
    </div>
</section>