<section class="section text-center">
    <div class="container">

        <header class="section-header mt-5">
        <small>Meet TheSaaS</small>
        <h2 class="lead-7 mt-3"><strong>30 Days Free Trial</strong></h2>
        <hr>
        <p class="lead">We waited until we could do it right. Then we did! Instead of creating a carbon copy.</p>
        </header>


        <div class="row mb-5">
        <form class="col-md-4 col-xl-4 mx-auto input-border">
            <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Name">
            </div>

            <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Email">
            </div>

            <div class="form-group">
            <input type="password" class="form-control form-control-lg" placeholder="Password">
            </div>

            <button class="btn btn-block btn-xl btn-success">Sign up</button>
            <p class="small mt-3 opacity-70">or use your <a href="#">Facebook account</a></p>
        </form>
        </div>

    </div>
</section>