
<section id="basic" class="section bg-gray bb-1">
    <div class="container">
        <header class="section-header">
        <h2>Basic Styling</h2>
        <hr>
        <p class="lead">Cards include various options for customizing their backgrounds, borders, and color.</p>
        </header>


        <div class="row gap-y">
        <div class="col-md-4">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Default</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Dark</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Primary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card border">
            <div class="card-body">
                <h5 class="card-title">Bordered</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card shadow-4">
            <div class="card-body">
                <h5 class="card-title">Shadowed</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card border hover-shadow-4">
            <div class="card-body">
                <h5 class="card-title">Hover shadow</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                <a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
            </div>
        </div>

        </div>
    </div>

    </section>
    
      